/* You can add global styles to this file, and also import other style files */

*[hidden] {
    display: none;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.card-footer {
    min-height: 50px;
}

ng-select.test > div > div.single > div.placeholder{
    line-height: 40px;
}

ng-select.test > div.below > div.single{
    height: 40px; 
}
ng-select.test > div.below > div.single > div.toggle{
    line-height: 40px;
}
ng-select.test > div > div.single > div.value{
    line-height: 40px;
}
ng-select.test > div > div.single > div.clear {
    line-height: 40px;
}
ng-select.test > div > div.multiple {
    min-height: 40px;
}
ng-select.test > div > div.multiple > div.option span.deselect-option {
    line-height: 30px;
}
