<!-- Page header -->
<app-page-header [parentTitle]="parentTitle" [title]="title" [subTitle]="subTitle" [titleLink]="titleLink" [subTitleLink]="subTitleLink"></app-page-header>

<div class="page-header page-header-default">


  <!-- Content area -->
  <div class="content">

    <div id="button-add-emp">
      <button type="button" class="btn bg-teal-400 btn-labeled" data-toggle="modal" data-target="#modal_small" (click)="addManager()">
        <b>
          <i class="icon-user-plus"></i>
        </b> Add new manager
      </button>
    </div>

    <!-- resource-project -->
    <div class="panel panel-flat">
      <!-- <div class="panel-body">
          <div class="panel panel-flat"> -->
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Tel</th>
              <th>Project</th>
              <th>Resource</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let manager of managers">
              <td>
                <!-- <a href="">FPT Software</a> -->
                {{manager.fullname}}
              </td>
              <td>{{manager.email}}</td>
              <td>{{manager.tel}}</td>
              <td>{{manager.projectNum}}</td>
              <td>{{manager.resourceNum}}</td>
              <td>
                <span class="label" [ngClass]="manager.status == 1 ? 'bg-blue-400' : 'btn-danger'">
                  {{manager.status == 1 ? "Active" : "Inactive" }}
                </span>
              </td>
              <td>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal_small" (click)="editManager(manager)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Content Area -->

  <!-- Popup add new -->
  <app-account-manager-popover [isEditForm]="isEditForm" [editManagerModel]="editManagerModel"
    (reloadManagerList)="getManagersByCompanyId()">
  </app-account-manager-popover>