<app-page-header [parentTitle]="parentTitle" [title]="title" [titleLink]="titleLink" ></app-page-header>

<!-- Content area -->
<div class="content row">
  <!-- Custom handle -->
  <div class="col-md-2"></div>
  <div class="panel panel-flat col-md-8">
    <div class="panel-heading">
      <h5 class="panel-title">The list of projects has not given feedback</h5>
    </div>

    <div class="panel-body">
      <ul class="media-list">
        <!-- <li class="media-header">Team leaders</li> -->

        <li class="media" *ngFor="let project of projectNotFeedback">

          <div class="media-left">
            <img src="assets/images/FPT.jpg" style="width: 70px; height: 70px;" class="img-circle" alt="">
          </div>
          <div class="media-body">
            <div class="media-heading text-semibold">&nbsp;</div>
            <div class="media-heading text-semibold">
              <a>{{project?.title}} - </a>
              <a>
                <b>{{jobCount}} employee(s)</b>
              </a>
            </div>
            <div class="media-heading text-semibold">&nbsp;</div>
            <!-- <span class="text-muted">Last.fm</span> -->
          </div>
          <div class="media-right media-middle">
            <ul class="icons-list text-nowrap">
              <li>
                <button type="button" class="btn bg-teal-400 btn-labeled" (click)="viewListHumanOnProject(project.id)">
                  <b>
                    <i class="icon-rating2"></i>
                  </b> Go to feedback
                </button>
              </li>

            </ul>
          </div>
          <hr>

        </li>
      </ul>

    </div>
  </div>
  <div class="col-md-2"></div>
  <!-- /custom handle -->
</div>
<!-- /content area -->