<!-- Main navigation -->
<div class="sidebar-category sidebar-category-visible">
  <div class="category-content no-padding">
    <ul class="navigation navigation-main navigation-accordion">
      <!-- Main -->
      <li class="navigation-header">
        <span>Main</span>
        <i class="icon-menu" title="Main pages"></i>
      </li>
      <li class="active">
        <a [routerLink]="['home']">
          <i class="icon-home4"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li [hidden]="!checkRoleUI('manageResources')">
        <a href="#">
          <i class="icon-users"></i>
          <span>Manage resources</span>
        </a>
        <ul>
          <li>
            <a [routerLink]="['manager/resource']">
              <span>Resource
                <!-- <span class="label bg-blue-400">2</span> -->
              </span>
            </a>
          </li>
          <li class="navigation-divider"></li>
          <li>
            <a [routerLink]="['manager/invitation']">
              <span>Manage invitations
                <!-- <span class="label bg-blue-400">4</span> -->
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li [hidden]="!checkRoleUI('manageProject')">
        <a href="#">
          <i class="icon-stack2"></i>
          <span>Manage project</span>
        </a>
        <ul>
          <li>
            <a [routerLink]="['manager/project']">Project</a>
          </li>
          <li class="navigation-divider"></li>
          <li>
            <a [routerLink]="['manager/appliance']">
              <span>Manage appliances
                <!-- <span class="label bg-blue-400">4</span> -->
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li [hidden]="!checkRoleUI('feedBack')">
        <a href="#">
          <i class="icon-medal-star"></i>
          <span>Feedback</span>
        </a>
        <ul>
          <li>
            <a [routerLink]="['feedback/project']">
              <span>Feedback
                <!-- <span class="label bg-blue-400">4</span> -->
              </span>
            </a>
          </li>
        </ul>
      </li>

      <li [hidden]="!checkRoleUI('manageCompany')">
        <a href="#">
          <i class="icon-home7"></i>
          <span>Manage company</span>
        </a>
        <ul>
          <li>
            <a [routerLink]="['admin/manage/company']">Companies</a>
          </li>
          <li class="navigation-divider"></li>
          <li>
            <a [routerLink]="['admin/manage/request']">
              <span>Manage request
                <!-- <span class="label bg-blue-400">2</span> -->
              </span>
            </a>
          </li>
        </ul>
      </li>

      <!-- Chef -->
      <li [hidden]="!checkRoleUI('manageManager')">
        <a href="#">
          <i class="icon-users4"></i>
          <span>Manage manager</span>
        </a>
        <ul>
          <li>
            <a [routerLink]="['cheft/manage/account']">Manager account</a>
          </li>
        </ul>
      </li>

      <li [hidden]="!checkRoleUI('manageCompanyInfo')">
        <a href="#">
          <i class="icon-accessibility"></i>
          <span>Manage your company</span>
        </a>
        <ul>
          <li>
            <a [routerLink]="['company/info']">Manage company info</a>
          </li>
        </ul>
      </li>

      <li [hidden]="!checkRoleUI('manageContract')">
        <a href="#">
          <i class="icon-profile"></i>
          <span>Manage contract</span>
        </a>
        <ul>
          <!-- <li>
            <a [routerLink]="['manage/contract']">Manage contracts</a>
          </li> -->
          <li>
            <a [routerLink]="['manage/resource/contract']">
              <span>Manage resource contracts
              </span>
            </a>
          </li>
          <li class="navigation-divider"></li>
          <li>
            <a [routerLink]="['manage/project/contract']">
              <span>Manage project contracts
                <!-- <span class="label bg-blue-400">4</span> -->
              </span>
            </a>
          </li>

        </ul>
      </li>
    </ul>
  </div>
</div>