<!-- <div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title text-center text-semibold">Matching project</h6>
    </div>

    <div class="panel-body">
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/bong-mai-logo-65-65.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">.NET Application
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>Công ty TNHH Công Nghệ Thông Tin Bông Mai</p>
                <p>Java, C#</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/coinected-io-logo-65-65.jpg" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">.NET Application
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>KAS- Giải pháp bán hàng</p>
                <p>Java, C#</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/kas-logo-65-65.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">Wordpress Application
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>Game Media Asia</p>
                <p>CSS, Wordpress, PHP</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/game-media-asia-logo-65-65.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">UI-UX Application
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>COINECTED.IO</p>
                <p>Mobile Apps, UI-UX, Designer</p>
            </div>
        </div>
    </div>
</div> -->

<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title text-center text-semibold">Matched projects</h6>
    <div class="heading-elements">
      <ul class="icons-list">
        <li>
          <a href="#">
            <i class="icon-sync"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="panel-body">
    <div class="media" *ngFor="let project of projectsMatched">
      <div class="media-left ">
        <a>
          <img src="{{project?.projectByProjectId?.companyByCompanyId?.logo}}" style="width: 70px; height: 70px;" class="img-circle"
            alt="">
        </a>

      </div>
      <div class="media-body">
        <div class="media-heading col-sm-12 no-padding">
          <div class="col-sm-12">
            <h6 (click)="viewHumanProjectDetail(project?.projectByProjectId?.id)" class="media-heading text-bold">{{project?.projectByProjectId?.title}}</h6>
          </div>
        </div>
        <span class="media-heading col-sm-12">
          Company:
          <a (click)="viewCompanyDetail(project?.projectByProjectId?.companyByCompanyId?.id)">{{project?.projectByProjectId?.companyByCompanyId?.name}}</a>
        </span>
        <!-- <span class="media-heading col-sm-12">
                    Available {{resource.humanResourceByHumanResourceId.availableDate}} To {{resource.humanResourceByHumanResourceId.availableDuration}}
                  </span> -->
        <span class="media-heading col-sm-12">
          Skill: {{project?.projectByProjectId?.combinedSkill}}
        </span>
      </div>
    </div>
  </div>
</div>
