<!-- Main navbar -->
<div class="navbar navbar-inverse">
  <app-header></app-header>
</div>

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-main" [hidden]="hideMenu">
      <div class="sidebar-content">
        <app-menu-left></app-menu-left>
      </div>
    </div>
    <!-- end main sidebar -->

    <!-- Main content -->
    <!-- <div class="content-wrapper">
      <div class="content"> -->
      <router-outlet></router-outlet>
    <!-- </div>
    </div> -->
    <!-- End Main content -->
  </div>
  <!-- end Page content -->
</div>
<!--end  Page container -->
