<!-- Main navbar -->
<div class="navbar navbar-inverse" [hidden]="hideHeader" id="header">
  <app-header></app-header>
</div>

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-main" [hidden]="hideMenu" id="menuLeft">
      <div class="sidebar-content">
        <app-menu-left></app-menu-left>
      </div>
    </div>
    <!-- end main sidebar -->

    <!-- Main content -->
    <!-- <div class="content-wrapper">
      <div class="content"> -->
    <router-outlet></router-outlet>
    <!-- </div>
    </div> -->
    <!-- End Main content -->
  </div>
  <!-- end Page content -->
</div>
<!--end  Page container -->

<!-- footer -->
<!-- <div class="navbar navbar-default navbar-fixed-bottom">
  <app-footer></app-footer>
</div> -->
<!-- end footer -->