<!-- Page header -->
<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Project</span> - Information</h4>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
          <!-- <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a> -->
          <form action="#" class="main-search">
              <div class="input-group content-group btn-float has-text">
                  <input type="text" class="form-control input-lg" placeholder="Search">
                  <div class="input-group-btn">
                      <button type="submit" class="btn bg-slate-600 btn-icon btn-lg"><i class="icon-search4"></i></button>
                  </div>
                </div>
          </form>
      </div>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
      <li><a href="appearance_content_panels.html">Project</a></li>
      <li class="active">Info</li>
    </ul>

    <!-- <ul class="breadcrumb-elements">
      <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-gear position-left"></i>
          Settings
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
          <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
          <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
        </ul>
      </li>
    </ul> -->
  </div>
</div>
<!-- End page header -->

<!-- Content area -->
<div class="content">
  
  <div class="row">

    <!-- left content -->
    <div class="col-md-8">
      <div class="panel panel-success">
        
        <div class="panel-body">
          <div class="col-md-3">
              <div class="thumbnail no-padding">
                  <div class="thumb">
                    <img src="assets/images/evolable-asia-logo-170-151.png" alt="">
                    <div class="caption-overflow">
                      <span>
                        <a href="assets/images/evolable-asia-logo-170-151.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                        <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                      </span>
                    </div>
                  </div>
                
                    <div class="caption text-center">
                      <h6 class="text-semibold no-margin">Evolable Asia</h6>
                      <ul class="icons-list mt-15">
                          <li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
                          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
                          <li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
                      </ul>
                    </div>
                  </div>
          </div>
          <div class="col-md-9">
              <div class="media-body">
                  <h1 class="media-heading"><b>Ruby on Rails Application ($1000 - $1500)</b></h1>
                  <h4><b>Skill: MySQL, Linux, Ruby on Rails</b></h4>
                  <h4><b>Number: 4</b></h4>
                  <h4><b><i class="icon-location4"></i> Location: Ho Chi Minh, District 1, Nguyen Dinh Chieu</b></h4>
                  <h4><b><i class="glyphicon glyphicon-calendar"></i> 5 days ago</b></h4>
                    
                </div>
                <div class="media-right media-middle">
                    <button type="button" class="btn btn-success btn-rounded btn-xlg" data-toggle="modal" data-target="#modal_theme_info">
                      Apply
                    </button>
                </div>
          </div>
        </div>
        
      </div>

      <div class="panel panel-flat">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="text-center">
                  <h5 class="text-semibold no-margin">Information</h5>
                </div>
                <div class="panel-body">
                  <p> <b>Name project</b>: Ruby on Rails Application</p>
                  <p><b>Skill</b>: MySQL, Linux, Ruby on Rails</p>
                  <p><b>Time</b>: 3 months</p>
                  <p><b>Status</b>: pending</p>
                  <p><b>Description</b>: Application for saling...</p>
                  <p><b><i class="icon-location4"></i> Location</b>: Ho Chi Minh, District 1, Nguyen Dinh Chieu</p>
                </div>
            </div>
        </div>
      </div>

      
    </div>

    <!-- right content -->
    <div class="col-md-4">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title text-center text-semibold">Similar</h6>
        </div>
        
        <div class="panel-body">
            <div class="media">
                <div class="media-left ">
                  <div class="thumb">
                      <a href="#">
                          <img src="assets/images/bong-mai-logo-65-65.png" class="media-preview" alt="">
                        </a>
                  </div>
                  
                </div>
                <div class="media-body">
                  <a href="#">.NET Application <span class="media-annotation pull-right">3:03</span></a>
                  <p>Công ty TNHH Công Nghệ Thông Tin Bông Mai</p>
                  <p>Java, C#</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left ">
                  <div class="thumb">
                      <a href="#">
                          <img src="assets/images/coinected-io-logo-65-65.jpg" class="media-preview" alt="">
                        </a>
                  </div>
                  
                </div>
                <div class="media-body">
                  <a href="#">.NET Application <span class="media-annotation pull-right">3:03</span></a>
                  <p>KAS- Giải pháp bán hàng</p>
                  <p>Java, C#</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left ">
                  <div class="thumb">
                      <a href="#">
                          <img src="assets/images/kas-logo-65-65.png" class="media-preview" alt="">
                        </a>
                  </div>
                  
                </div>
                <div class="media-body">
                  <a href="#">Wordpress Application <span class="media-annotation pull-right">3:03</span></a>
                  <p>Game Media Asia</p>
                  <p>CSS, Wordpress, PHP</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left ">
                  <div class="thumb">
                      <a href="#">
                          <img src="assets/images/game-media-asia-logo-65-65.png" class="media-preview" alt="">
                        </a>
                  </div>
                  
                </div>
                <div class="media-body">
                  <a href="#">UI-UX Application <span class="media-annotation pull-right">3:03</span></a>
                  <p>COINECTED.IO</p>
                  <p>Mobile Apps, UI-UX, Designer</p>
                </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Info modal -->
  <div id="modal_theme_info" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title text-center">Manage Apply</h6>
        </div>

        <div class="modal-body">
          <!-- List  -->
            <div class="media-left">
                <img src="assets/images/avatar.png" style="width: 50px;height: 50px;" alt="">
            </div>
            <div class="media-body">
             <h6 style="margin-top: 0px"><b>Nguyen Van A</b></h6>
             <i class="text-muted">Join to</i> <a href="#"><b>ABC Application</b></a> <i class="text-muted">project</i>
            </div>
            <div class="media-right">
              <button class="btn btn-success">Apply</button>
            </div>
           <!-- list -->
          <hr>

          <!-- List  -->
          <div class="media-left">
              <img src="assets/images/avatar.png" style="width: 50px;height: 50px;" alt="">
          </div>
          <div class="media-body">
           <h6 style="margin-top: 0px"><b>Nguyen Van A</b></h6>
           <i class="text-muted">Join to</i> <a href="#"><b>ABC Application</b></a> <i class="text-muted">project</i>
          </div>
          <div class="media-right">
            <button class="btn btn-success">Apply</button>
          </div>
         <!-- list -->
<hr>
         <!-- List  -->
         <div class="media-left">
            <img src="assets/images/avatar.png" style="width: 50px;height: 50px;" alt="">
        </div>
        <div class="media-body">
         <h6 style="margin-top: 0px"><b>Nguyen Van A</b></h6>
         <i class="text-muted">Join to</i> <a href="#"><b>ABC Application</b></a> <i class="text-muted">project</i>
        </div>
        <div class="media-right">
          <button class="btn btn-success">Apply</button>
        </div>
       <!-- list -->

       <hr>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /info modal -->
</div>
<!-- End Content Area -->