<div class="panel panel-flat">
  <div class="panel-body">
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
          </div>
          
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
              <input type="radio" aria-label="Radio button for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button">
          </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="text-semibold">Checkboxes</label>
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="control-success" checked="checked"> Success checkbox
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">

    <!-- Hierarchical select -->
    <form action="index.html" #registerForm="ngForm" (ngSubmit)="onFormSubmit(registerForm)">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">Choose domain
            <a class="heading-elements-toggle">
              <i class="icon-more"></i>
            </a>
          </h6>
        </div>

        <div class="panel-body">
          <p class="mb-15">Click to choice domain that you interested!
            <!-- <kbd>space</kbd>.</p> -->

            <div class="tree-checkbox-hierarchical well border-left-danger border-left-lg">
              <ul class="ui-fancytree-source ui-helper-hidden">
                <li class="folder expanded">Position technical skill
                  <ul>
                    <li class="expanded">Developer
                      <ul>
                        <li>Java</li>
                        <li class="selected">C#</li>
                        <li class="selected">SQL</li>
                      </ul>
                    </li>
                    <li>Tester
                      <ul>
                        <li>Automation</li>
                        <li>Test bla bla</li>
                      </ul>
                    </li>
                    <li>Project manager
                      <ul>
                        <li>...</li>
                        <li>...</li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="folder">Location
                  <ul>
                    <li>Ho Chi Minh</li>
                    <li>Ha Noi</li>
                    <li>Da Nang</li>
                    <li>Other</li>
                  </ul>
                </li>
                <!-- <li>Basic
              <i>menu item</i> with
              <strong class="text-semibold">HTML support</strong>
            </li> -->

                <li class="expanded">Other
                  <ul>
                    <li class="selected">Other</li>
                    <li class="selected">Other</li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
      </div>

      <button type="submit" class="btn bg-teal btn-block btn-lg">Submit
        <i class="icon-circle-right2 position-right"></i>
      </button>
    </form>
  </div>

  <div class="col-md-3">

  </div>
</div>