<div class="panel panel-flat">
  <div class="panel-body">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" aria-label="Radio button for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with radio button">
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="text-semibold">Checkboxes</label>
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="control-success" checked="checked"> Success checkbox
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">

    <!-- Hierarchical select -->
    <form action="index.html" #chooseDomainForm="ngForm" (ngSubmit)="onFormSubmit(chooseDomainForm)">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">Choose domain
            <a class="heading-elements-toggle">
              <i class="icon-more"></i>
            </a>
          </h6>
        </div>

        <div class="panel-body">
          <p class="mb-15">Click to choice domain that you interested!
            <!-- <kbd>space</kbd>.</p> -->

            <div class="">
              <ul class="">
                <li class="">Position technical skill
                  <ul>
                    <li class="" *ngFor="let position of chooseDomain.position">
                      <label>
                        <input [(ngModel)]="position.checked" name="position" type="checkbox"> {{position.value}}
                      </label>
                    </li>
                  </ul>
                </li>

                <li class="folder">Location
                  <ul>
                    <li>
                      <label>
                        <input [(ngModel)]="chooseDomain.location" name="location" type="checkbox" checked="checked"> Ho Chi Minh
                      </label>
                    </li>
                    <li>
                      <label>
                        <input [(ngModel)]="chooseDomain.location" name="location" type="checkbox" > Ha Noi
                      </label>
                    </li>
                    <li>
                      <label>
                        <input [(ngModel)]="chooseDomain.location" name="location" type="checkbox" > Da Nang
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="checkbox"> Other
                      </label>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
      </div>

      <button type="submit" class="btn bg-teal btn-block btn-lg">Submit
        <i class="icon-circle-right2 position-right"></i>
      </button>
    </form>
  </div>

  <div class="col-md-3">

  </div>
</div>