<!-- <div class="choose-position panel panel-flat">
  <div class="panel-heading">
    <h1 class="panel-title">WELCOME TO HRSSC</h1>
    <div class="heading-elements">
    </div>
  </div>

  <div class="panel-body">
    <p class="content-group"> Before you starts, please provide us some information about your preferred domains, so that we can serve you better.</p>
    <legend class="text-bold">Position</legend>
    <label class="checkbox-inline">
      <div class="checker">
        <span class="">
          <input type="checkbox" class="styled" checked="checked" value="Developer">
        </span>
      </div>
      Developer
    </label>
    <table border="0">
      <tr>
        <td style="width:70px"></td>
        <td>
          <div class="checkbox disabled">
            <label>
              <div class="checker disabled">
                <span>
                  <input type="checkbox" class="styled" disabled="disabled">
                </span>
              </div>
              Java
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox disabled">
            <label>
              <div class="checker disabled">
                <span>
                  <input type="checkbox" class="styled" disabled="disabled">
                </span>
              </div>
              .NET C#
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox disabled">
            <label>
              <div class="checker disabled">
                <span>
                  <input type="checkbox" class="styled" disabled="disabled">
                </span>
              </div>
              C/C++
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox disabled">
            <label>
              <div class="checker disabled">
                <span>
                  <input type="checkbox" class="styled" disabled="disabled">
                </span>
              </div>
              PHP
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox disabled">
            <label>
              <div class="checker disabled">
                <span>
                  <input type="checkbox" class="styled" disabled="disabled">
                </span>
              </div>
              Ruby
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox disabled">
            <label>
              <div class="checker disabled">
                <span>
                  <input type="checkbox" class="styled" disabled="disabled">
                </span>
              </div>
              Swift
            </label>
          </div>
        </td>
      </tr>
    </table>

    <label class="checkbox-inline">
      <div class="checker">
        <span class="checked">
          <input type="checkbox" class="styled" checked="checked" value="Developer">
        </span>
      </div>
      Tester
    </label>

    <table border="0">
      <tr>
        <td style="width:70px"></td>
        <td>
          <div class="checkbox">
            <label>
              <div class="checker ">
                <span>
                  <input type="checkbox" class="styled">
                </span>
              </div>
              QA
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox">
            <label>
              <div class="checker ">
                <span class="checked">
                  <input type="checkbox" class="styled">
                </span>
              </div>
              QC
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox">
            <label>
              <div class="checker">
                <span class="checked">
                  <input type="checkbox" class="styled">
                </span>
              </div>
              Automation
            </label>
          </div>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
    </table>
    <label class="checkbox-inline">
      <div class="checker">
        <span class="">
          <input type="checkbox" class="styled" checked="checked">
        </span>
      </div>
      Project Manager
    </label>


    <legend class="text-bold">Experience Level</legend>
    <table border="0">
      <tr>

        <td>
          <div class="checkbox">
            <label>
              <div class="checker ">
                <span>
                  <input type="checkbox" class="styled">
                </span>
              </div>
              Junior
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox">
            <label>
              <div class="checker ">
                <span class="checked">
                  <input type="checkbox" class="styled">
                </span>
              </div>
              Senior
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox">
            <label>
              <div class="checker">
                <span class="checked">
                  <input type="checkbox" class="styled">
                </span>
              </div>
              Master
            </label>
          </div>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
    </table>

    <legend class="text-bold">Location</legend>
    <table border="0">
      <tr>

        <td>
          <div class="checkbox">
            <label>
              <div class="checker ">
                <span class="checked">
                  <input type="checkbox" class="styled">
                </span>
              </div>
              HCM
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox">
            <label>
              <div class="checker ">
                <span class="">
                  <input type="checkbox" class="styled">
                </span>
              </div>
              Hanoi
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox">
            <label>
              <div class="checker">
                <span class="">
                  <input type="checkbox" class="styled">
                </span>
              </div>
              Danang
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox">
            <label>
              <div class="checker">
                <span class="">
                  <input type="checkbox" class="styled">
                </span>
              </div>
              Other
            </label>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <input style="margin-left: 290px; margin-top: 50px;margin-bottom: 20px" type="submit" class="btn btn-primary" value="Submit">
</div> -->


<div class="panel panel-flat">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="text-semibold">Checkboxes</label>
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="control-success" checked="checked"> Success checkbox
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">

    <!-- Hierarchical select -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Choose domain
          <a class="heading-elements-toggle">
            <i class="icon-more"></i>
          </a>
        </h6>
      </div>

      <div class="panel-body">
        <p class="mb-15">Click to choice domain that you interested! 
          <!-- <kbd>space</kbd>.</p> -->

        <div class="tree-checkbox-hierarchical well border-left-danger border-left-lg">
          <ul class="ui-fancytree-source ui-helper-hidden">
            <li class="folder expanded">Position technical skill
              <ul>
                <li class="expanded">Developer
                  <ul>
                    <li>Java</li>
                    <li class="selected">C#</li>
                    <li class="selected">SQL</li>
                  </ul>
                </li>
                <li>Tester
                  <ul>
                    <li>Automation</li>
                    <li>Test bla bla</li>
                  </ul>
                </li>
                <li>Project manager
                    <ul>
                      <li>...</li>
                      <li>...</li>
                    </ul>
                  </li>
              </ul>
            </li>

            <li class="folder">Location
              <ul>
                <li>Ho Chi Minh</li>
                <li>Ha Noi</li>
                <li>Da Nang</li>
                <li>Other</li>                
              </ul>
            </li>
            <!-- <li>Basic
              <i>menu item</i> with
              <strong class="text-semibold">HTML support</strong>
            </li> -->

            <li class="expanded">Other
              <ul>
                <li class="selected">Other</li>
                <li class="selected">Other</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">

  </div>
</div>