<!-- Page header -->
<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">Manage resource</span> - Invitations</h4>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
        <!-- <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a> -->
        <form action="#" class="main-search">
          <div class="input-group content-group btn-float has-text">
            <input type="text" class="form-control input-lg" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn bg-slate-600 btn-icon btn-lg">
                <i class="icon-search4"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="icon-home2 position-left"></i> Home</a>
      </li>
      <li>
        <a href="appearance_content_panels.html">Manage resource</a>
      </li>
      <li class="active">Invitations</li>
    </ul>

    <!-- <ul class="breadcrumb-elements">
        <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-gear position-left"></i>
            Settings
            <span class="caret"></span>
          </a>
  
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
            <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
            <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
          </ul>
        </li>
      </ul> -->
  </div>
</div>
<!-- End page header -->

<!-- content area -->
<div class="content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="panel panel-flat col-md-8">
      <div class="panel-body">


        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body">
              <a data-toggle="collapse" href="#collapse1">
                <div class="media">
                  <div class="media-left">
                    <img src="assets/images/avatar.png" alt="">
                  </div>
                  <div class="media-body">
                    Nguyen Van A
                    <p>Position: Developer</p>
                  </div>
                  <div class="media-right">Invitations(2)</div>
                </div>
              </a>
              <!-- data collapse 1 -->
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="media-left">
                    <img src="assets/images/FPT.jpg" alt="">
                  </div>
                  <div class="media-body">
                    ABC Company
                    <i>Invited</i> to
                    <a href="#"> ABC Project</a>
                  </div>
                  <div class="media-right">
                    <button class="btn btn-success">apply</button>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="media-left">
                    <img src="assets/images/FPT.jpg" alt="">
                  </div>
                  <div class="media-body">
                    ABC Company
                    <i>Invited</i> to
                    <a href="#"> ABC Project</a>
                  </div>
                  <div class="media-right">
                    <button class="btn btn-success">apply</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="panel-body">
              <a data-toggle="collapse" href="#collapse2">
                <div class="media">
                  <div class="media-left">
                    <img src="assets/images/avatar.png" alt="">
                  </div>
                  <div class="media-body">
                    Nguyen Van B
                    <p>Position: Developer</p>
                  </div>
                  <div class="media-right">Invitations
                    <span class="label bg-blue-400">2</span>
                  </div>
                </div>
              </a>
              <!-- data collapse 1 -->
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="media-left">
                    <img src="assets/images/FPT.jpg" alt="">
                  </div>
                  <div class="media-body">
                    ABC Company
                    <i>Invited</i> to
                    <a href="#"> ABC Project</a>
                  </div>
                  <div class="media-right">
                    <button class="btn btn-success">apply</button>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="media-left">
                    <img src="assets/images/FPT.jpg" alt="">
                  </div>
                  <div class="media-body">
                    ABC Company
                    <i>Invited</i> to
                    <a href="#"> ABC Project</a>
                  </div>
                  <div class="media-right">
                    <button class="btn btn-success">apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>