<!-- Page header -->
<!-- <div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">Manage resource</span> - Invitations</h4>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
        <form action="#" class="main-search">
          <div class="input-group content-group btn-float has-text">
            <input type="text" class="form-control input-lg" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn bg-slate-600 btn-icon btn-lg">
                <i class="icon-search4"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="icon-home2 position-left"></i> Home</a>
      </li>
      <li>
        <a href="appearance_content_panels.html">Manage resource</a>
      </li>
      <li class="active">Invitations</li>
    </ul>
  </div>
</div> -->
<app-page-header [parentTitle]="parentTitle" [title]="title" [subTitle]="subTitle"></app-page-header>
<!-- End page header -->

<!-- content area -->
<!-- <div class="content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="panel panel-flat col-md-8">
      <div class="panel-body">


        <div class="panel-group">
          <div class="panel panel-default">

            <div class="panel-body" *ngFor="let invitation of invitations">
              <a data-toggle="collapse" [attr.data-target]="'#invitation' + invitation.id">
                <div class="media">
                  <div class="media-left">
                    <img src="assets/images/avatar.png" alt="">
                  </div>
                  <div class="media-body">
                    {{invitation?.fullname}}
                    <p>{{invitation?.email}}</p>
                  </div>
                  <div class="media-right text-center">
                    <a href="#">
                      <span>Invitations
                        <span class="label bg-blue-400">{{invitation?.countInvite}}</span>
                      </span>
                    </a>
                  </div>
                </div>
              </a>
              <div id="" class="panel-collapse collapse" id="invitation{{invitation.id}}">
                <div class="panel-body" *ngFor="let interaction of invitation.interactionsById">
                  <div class="media-left">
                    <img src="assets/images/FPT.jpg" alt="">
                  </div>
                  <div class="media-body">
                    <a>{{interaction?.projectByProjectId?.companyByCompanyId?.name}}</a>
                    <i>Invited him </i> to
                    <a href="#"> {{interaction?.projectByProjectId?.title}}</a>
                    <i> project </i>
                  </div>
                  <div class="media-right">
                    <button class="btn btn-success" (click)="acceptInvite(interaction?.projectByProjectId?.id, invitation?.id)">Accept</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div> -->


<!-- ******************************************** -->
<div class="content">
  <div class="row">
      <div class="col-md-2"></div>
      <div class="tabbable panel login-form width-400 col-md-8">
        <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
          <li class="active">
            <a href="#basic-tab1" data-toggle="tab">
              Invitations <span class="badge badge-info position-right">23</span>
            </a>
          </li>
          <li>
            <a href="#basic-tab2" data-toggle="tab">
              My deals <span class="badge badge-info position-right">23</span>
            </a>
          </li>
        </ul>
  
        <div class="tab-content panel-body">
          <div class="tab-pane fade in active" id="basic-tab1">
            <div class="panel panel-flat">
              <div class="">
                <div class="">
                  <div class="">
                    <div class="panel-body" *ngFor="let invitation of invitations">
                      <a data-toggle="collapse" [attr.data-target]="'#invitation' + invitation.id">
                        <div class="media">
                          <div class="media-left">
                            <img src="assets/images/avatar.png" alt="">
                          </div>
                          <div class="media-body">
                            {{invitation?.fullname}}
                            <p>{{invitation?.email}}</p>
                          </div>
                          <div class="media-right text-center">
                            <a href="#">
                              <span>Invitations
                                <span class="label bg-blue-400">{{invitation?.countInvite}}</span>
                              </span>
                            </a>
                          </div>
                        </div>
                      </a>
                      <!-- data collapse 1 -->
                      <div id="" class="panel-collapse collapse" id="invitation{{invitation.id}}">
                        <div class="panel-body" *ngFor="let interaction of invitation.interactionsById">
                          <div class="media-left">
                            <img src="assets/images/FPT.jpg" alt="">
                          </div>
                          <div class="media-body">
                            <a>{{interaction?.projectByProjectId?.companyByCompanyId?.name}}</a>
                            <i>Invited him </i> to
                            <a href="#"> {{interaction?.projectByProjectId?.title}}</a>
                            <i> project </i>
                          </div>
                          <div class="media-right">
                            <!-- <button class="btn btn-success" (click)="acceptInvite(interaction?.projectByProjectId?.id, invitation?.id)">Accept</button> -->
                            <button class="btn btn-success" (click)="linkToContract(interaction?.id)">Link</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="tab-pane fade" id="basic-tab2">
            <h6 class="text-muted">The projects he worked on</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>

  </div>
</div>