<div class="media" *ngIf="!isSent">
  <div class="media-left">
    <a href="assets/images/placeholder.jpg">
      <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
    </a>
  </div>
  <div class="media-body">
    <div class="media-content">
      {{messageContent}}
    </div>
    <span class="media-annotation display-block mt-10">
      {{time}}
      <a href="#">
        <i class="icon-pin-alt position-right text-muted"></i>
      </a>
    </span>
  </div>
</div>

<div class="media reversed" *ngIf="isSent" >
  <div class="media-body">
    <div class="media-content">
      {{messageContent}}
    </div>
    <span class="media-annotation display-block mt-10">
      {{time}}
      <a href="#">
        <i class="icon-pin-alt position-right text-muted"></i>
      </a>
    </span>
  </div>
  <div class="media-right">
    <a href="assets/images/placeholder.jpg">
      <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
    </a>
  </div>
</div>
