.fix-chat {
    position: fixed;
    right: 0;
    width: 400px;
}
#chat-button {
    position: fixed;
    top: 50%;
    right: -55px;
    z-index: 5;
    background-color: #26A69A;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #534B4B;
    transform: rotate(-90deg);
}
#chat-button a {
    text-decoration: none;
    
    color: white;
    background: transparent;
    
}

