<!-- Page header -->
<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">Project</span> - Information</h4>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
        <!-- <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a> -->
        <form action="#" class="main-search">
          <div class="input-group content-group btn-float has-text">
            <input type="text" class="form-control input-lg" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn bg-slate-600 btn-icon btn-lg">
                <i class="icon-search4"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="icon-home2 position-left"></i> Home</a>
      </li>
      <li class="active">Project info</li>
    </ul>

    <!-- <ul class="breadcrumb-elements">
      <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-gear position-left"></i>
          Settings
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
          <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
          <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
        </ul>
      </li>
    </ul> -->
  </div>
</div>
<!-- End page header -->

<!-- Content area -->
<div class="content">

  <div class="row">

    <!-- left content -->
    <div class="col-md-8">
      <div class="panel panel-success">

        <div class="panel-body">
          <div class="col-md-3">
            <div class="thumbnail no-padding">
              <div class="thumb">
                <img src="assets/images/evolable-asia-logo-170-151.png" alt="">
                <div class="caption-overflow">
                  <span>
                    <a href="assets/images/evolable-asia-logo-170-151.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox">
                      <i class="icon-plus2"></i>
                    </a>
                    <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs">
                      <i class="icon-link"></i>
                    </a>
                  </span>
                </div>
              </div>

              <div class="caption text-center">
                <h6 class="text-semibold no-margin">{{project?.companyByCompanyId?.name}}</h6>
                <ul class="icons-list mt-15">
                  <li>
                    <a href="#" data-popup="tooltip" title="Google Drive" data-container="body">
                      <i class="icon-google-drive"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-popup="tooltip" title="Twitter" data-container="body">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-popup="tooltip" title="Github" data-container="body">
                      <i class="icon-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="media-body">
              <h1 class="media-heading">
                <b>{{project?.title}}</b>
              </h1>
              <h4>
                <b>Skill: {{skillList}}</b>
              </h4>
              <h4>
                <b>Number: ?</b>
              </h4>
              <h4>
                <b>
                  <i class="icon-location4"></i> Location:{{project?.companyByCompanyId?.city}}</b>
              </h4>
              <h4>
                <b>
                  <i class="glyphicon glyphicon-calendar"></i> 5 days ago</b>
              </h4>

            </div>
            <div class="media-right media-middle">
              <button *ngIf="!isManager" type="submit" class="btn btn-success btn-rounded btn-xlg" (click)="getAvailableResource()" data-toggle="modal"
                data-target="#modal_theme_info">
                Apply
              </button>
              <span *ngIf="isManager" style="font-size: 12px;" [ngClass]="project.processStatus == 1 ? 'border-success text-success-600' : 'border-danger text-danger-600'"
                class="label label-flat">
                {{project.processStatus == 1 ? "PENDING" : "ON_GOING"}}</span>
            </div>
          </div>
        </div>

      </div>

      <!-- Tabbed form -->
      <div *ngIf="isManager" class="tabbable panel login-form width-400">
          <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
            <li class="active">
              <a href="#basic-tab1" data-toggle="tab">
                <h6>Info</h6>
              </a>
            </li>
            <li>
              <a href="#basic-tab2" data-toggle="tab">
                <h6>Resource Joined</h6>
              </a>
            </li>
          </ul>
  
          <div class="tab-content panel-body">
            <div class="tab-pane fade in active" id="basic-tab1">
                <div class="col-md-12">
                    <app-info-project-manager (reloadProject)="getProjectById()" (reloadMatchingResource)="reloadMatchingResource()" [project]="project"></app-info-project-manager>
                  </div>
            </div>
  
            <div class="tab-pane fade" id="basic-tab2">
              <app-resource-joined></app-resource-joined>
            </div>
          </div>
        </div>

      <div *ngIf="!isManager" class="panel panel-flat">
        <div class="panel-body">
          <div class="col-md-12">
            <app-info-project-view [project]="project"></app-info-project-view>
          </div>
        </div>
      </div>


    </div>

    <!-- right content -->
    <div *ngIf="isManager" class="col-md-4">
      <app-resource-matching></app-resource-matching>
    </div>
    <div *ngIf="!isManager" class="col-md-4">
      <app-project-similar></app-project-similar>
    </div>
  </div>

  <!-- Info modal -->
  <app-project-info-popup [listAvailableResource]="listAvailableResource"></app-project-info-popup>
  <!-- /info modal -->
</div>
<!-- End Content Area -->
