<!-- Page header -->
<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Resource</span> - Information</h4>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
        
      </div>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
      <li><a href="appearance_content_panels.html">Resource</a></li>
      <li class="active">Info</li>
    </ul>

    <ul class="breadcrumb-elements">
      <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-gear position-left"></i>
          Settings
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
          <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
          <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- End page header -->

<!-- Content area -->
<div class="content">
  
  <div class="row">

    <!-- left content -->
    <div class="col-md-8">
      <div class="panel panel-success">
        
        <div class="panel-body">
          <div class="col-md-3">
              <div class="thumbnail no-padding">
                  <div class="thumb">
                    <img src="assets/img/avatar2.png" alt="">
                    <div class="caption-overflow">
                      <span>
                        <a href="assets/img/avatar.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                        <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                      </span>
                    </div>
                  </div>
                
                    <div class="caption text-center">
                      <h6 class="text-semibold no-margin">ABC VietNam</h6>
                      <ul class="icons-list mt-15">
                          <li><a href="#" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a></li>
                          <li><a href="#" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a></li>
                          <li><a href="#" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a></li>
                      </ul>
                    </div>
                  </div>
          </div>
          <div class="col-md-9">
              <div class="media-body">
                  <h1 class="media-heading">Full stack website developer</h1>
                  <h4 class="text-muted">Ho Thai Thien</h4>

                 
                </div>
                <div class="media-right media-middle">
                    <button type="button" class="btn btn-danger btn-rounded btn-xlg">Invite</button>
                </div>
          </div>
        </div>
        
      </div>

      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">Panel title <small>With inline subtitle</small></h6>
        </div>
        
        <div class="panel-body">
          Basic panel with inline heading subtitle
        </div>
      </div>

      
    </div>

    <!-- right content -->
    <div class="col-md-4">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">Panel controls</h6>
          <div class="heading-elements">
            <ul class="icons-list">
                      <li><a data-action="collapse"></a></li>
                      <li><a data-action="reload"></a></li>
                      <li><a data-action="close"></a></li>
                    </ul>
                  </div>
        </div>
        
        <div class="panel-body">
          Basic panel with panel controls
        </div>
      </div>

    </div>
  </div>
  <!-- /panel heading options -->
</div>