<!-- Page header -->
<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">Resource</span> - Information</h4>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
        <form action="#" class="main-search">
          <div class="input-group content-group btn-float has-text">
            <input type="text" class="form-control input-lg" placeholder="Search">
            <div class="input-group-btn">
              <button type="submit" class="btn bg-slate-600 btn-icon btn-lg">
                <i class="icon-search4"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="icon-home2 position-left"></i> Home</a>
      </li>
      <li>
        <a href="appearance_content_panels.html">Resource</a>
      </li>
      <li class="active">Info</li>
    </ul>

  </div>
</div>
<!-- End page header -->

<!-- Content area -->
<div class="content">

  <div class="row">

    <!-- left content -->
    <div class="col-md-8">
      <div class="panel panel-success">

        <div class="panel-body">
          <div class="col-md-3">
            <div class="thumbnail no-padding">
              <div class="thumb">
                <img src="assets/images/avatar2.png" alt="">
                <div class="caption-overflow">
                  <span>
                    <a href="assets/images/avatar.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox">
                      <i class="icon-plus2"></i>
                    </a>
                    <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs">
                      <i class="icon-link"></i>
                    </a>
                  </span>
                </div>
              </div>

              <div class="caption text-center">
                <h6 class="text-semibold no-margin">{{humanResource?.companyByCompanyId?.name}}</h6>
                <ul class="icons-list mt-15">
                  <li>
                    <a href="#" data-popup="tooltip" title="Google Drive" data-container="body">
                      <i class="icon-google-drive"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-popup="tooltip" title="Twitter" data-container="body">
                      <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-popup="tooltip" title="Github" data-container="body">
                      <i class="icon-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="media-body">
              <h1 class="media-heading">
                <b>{{humanResource.fullname}}</b>
              </h1>
              <h4 class="text-semibold">
                <b>Skills: {{skillList}}</b>
              </h4>

              <h4>
                <b>
                  <i class="icon-location4"></i>{{humanResource?.companyByCompanyId?.city}}</b>
              </h4>
              <h4>
                <b>{{humanResource.salary}}</b>
              </h4>
              <h4>
                <b>Available date: {{avaliableDate}}</b>
              </h4>
              <!-- rating -->
              <div class="rating-block">
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align" 
                data-popup="tooltip" title ="click to see detail rating"
                  data-toggle="modal" data-target="#rating">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            <div class="media-right media-middle">
              <!-- <button type="button" class="btn btn-danger btn-rounded btn-xlg" data-toggle="modal" data-target="#modal_form_inline">
                Invite
              </button> -->
              <span style="font-size: 12px;" [ngClass] = "humanResource.status == 1 ? 'border-success text-success-600' : 'border-danger text-danger-600'" 
              class="label label-flat">
                {{humanResource.status == 1 ? "Activated" : "Inactive"}}</span>
            </div>
          </div>
        </div>

      </div>

      <div class="panel panel-flat">
        <div class="panel-body">
          <div class="col-md-12">
            <div class="text-center">
              <h5 class="text-semibold no-margin">Information</h5>
            </div>
            <app-info-resource-manager-view [humanResource]="humanResource"
            (reloadManagerList)="getHumanResourceById()"></app-info-resource-manager-view>
          </div>
          <!-- <div class="col-md-6">
            <div class="text-center">
              <h5 class="text-semibold no-margin">Rating</h5>
              
            </div>
          </div> -->
        </div>
      </div>
      <app-rating-resource></app-rating-resource>

    </div>

    <!-- right content -->
    <div class="col-md-4">
      <!-- <app-resource-similar></app-resource-similar> -->
      <app-project-matching (reloadManagerList)="reloadManagerList">

      </app-project-matching>


    </div>
  </div>

  <!-- Inline form modal popup -->
  <div id="modal_form_inline" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title">Manage Invite</h5>
        </div>

        <form action="#" class="form-inline">
          <div class="modal-body">
            <div class="form-group has-feedback">
              <label>Invite
                <b>HỒ THÁI THIỆN</b> to :</label>

            </div>

            <div class="form-group">
              <select data-placeholder="Select a project..." class="select">
                <option></option>
                <option value="CT">Project 1</option>
                <option value="FL">Project 2</option>
                <option value="MA">Project 3</option>
                <option value="WV">Project 4</option>
              </select>
            </div>

          </div>

          <div class="modal-footer text-center">
            <button type="submit" class="btn btn-primary">Invite
              <i class="icon-plus22"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /inline form modal pop-->
</div>
<!-- End Content Area -->