<!-- <div class="panel panel-flat">
  <div class="panel-body" *ngFor="let apply of listAppliance">
    <a data-toggle="collapse" [attr.data-target]="'#appliance' + apply.id">
      <div class="media">
        <div class="media-left">
          <img src="assets/images/evolable-asia-logo-170-151.png" alt="">
        </div>
        <div class="media-body">
          {{apply.title}}
          <p>Type: {{apply.type}}</p>
        </div>
        <div class="media-right">Appliance({{apply.countApply}})</div>
      </div>
    </a>
    <div id="appliance{{apply.id}}" class="panel-collapse collapse">
      <div class="panel-body" *ngFor="let resourceList of apply.interactionsById">
        <div class="media-left">
          <img src="assets/images/FPT.jpg" alt="">
        </div>
        <div class="media-body">

          <a href="#"> {{resourceList.humanResourceByHumanResourceId.fullname}}</a>
          <i>of</i>
          <a href="">{{resourceList.humanResourceByHumanResourceId.companyByCompanyId.name}}</a>
          <i>want to join</i>
        </div>
        <div class="media-right">
          <button (click)="selectResource(resourceList, apply.id)" class="btn btn-success">select</button>
        </div>
      </div>

    </div>
  </div>
</div> -->

<!-- ******************** -->

<div class="panel-body" *ngFor="let project of listProject">
  <a data-toggle="collapse" [attr.data-target]="'#project' + project.id">
    <div class="media">
      <div class="media-left">
        <img src="{{project?.companyByCompanyId?.logo}}" alt="">
      </div>
      <div class="media-body">
        {{project.title}}
        <p>type: {{project.type}}</p>
      </div>
      <div class="media-right">Invitations</div>
    </div>
  </a>
  <!-- data collapse 1 -->
  <div id="project{{project.id}}" class="panel-collapse collapse">
    <div class="panel-body" *ngFor="let contracts of project.interactionsById">
      <div class="media-left">
        <img src="{{contracts.humanResourceByHumanResourceId.companyByCompanyId.logo}}" alt="">
      </div>
      <div class="media-body">
        <i>You invited </i>
        <a href="#">{{contracts.humanResourceByHumanResourceId.fullname}}</a>
        <i>of</i>
        <!-- {{resourceList.humanResourceByHumanResourceId.companyId}} -->
        <a href="">{{contracts.humanResourceByHumanResourceId.companyByCompanyId.name}}</a>
        <i>join to project</i>
      </div>

      <div class="media-right">
        <button class="btn btn-success" (click)="linkToContract(contracts.id)">Link to contract</button>
      </div>
    </div>

    <!-- <div class="panel-body">
      <div class="media-left">
        <img src="assets/images/FPT.jpg" alt="">
      </div>
      <div class="media-body">
        ABC Company
        <i>Invited</i> to
        <a href="#"> ABC Project</a>
      </div>
      <div class="media-right">
        <button class="btn btn-success">apply</button>
      </div>
    </div> -->
  </div>
</div>