<!-- Page header -->
<app-page-header [parentTitle]="parentTitle"></app-page-header>
<div class="page-header page-header-default">


  <!-- Content area -->
  <div class="content">

    <!-- resource-project -->
    <div class="panel panel-flat">
      <div class="panel-body">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
            <li class="active">
              <a href="#AvailableTab" data-toggle="tab" aria-expanded="false">Available
                <span class="badge bg-slate position-right">23</span>
              </a>
            </li>
            <li class="">
              <a href="#InactiveTab" data-toggle="tab" aria-expanded="true">Inactive
                <span class="badge bg-slate position-right">10</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="AvailableTab">
              <!-- <div class="row"> -->
              <div class="panel panel-flat">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="text-center">
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Account</th>
                        <th>Project</th>
                        <th>Resource</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="media-right">
                            <img src="assets/images/FPT.jpg" alt="">
                          </div>
                        </td>
                        <td><a href="">FPT Software</a></td>
                        <td>Ho Chi Minh City</td>
                        <td>tuhihi</td>
                        <td>(5)</td>
                        <td>(6)</td>
                        <td>
                          <button type="submit" class="btn btn-danger">Deactive</button>
                        </td>
                      </tr>
                      <tr>
                          <td>
                            <div class="media-right">
                              <img src="assets/images/FPT.jpg" alt="">
                            </div>
                          </td>
                          <td>FPT Software</td>
                          <td>Ho Chi Minh City</td>
                          <td>tuhihi</td>
                          <td>(5)</td>
                          <td>(6)</td>
                          <td>
                            <button type="submit" class="btn btn-danger">Deactive</button>
                          </td>
                        </tr>

                        
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <div class="tab-pane" id="InactiveTab">
                <div class="panel panel-flat">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="text-center">
                          <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Account</th>
                            <th>Project</th>
                            <th>Resource</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="media-right">
                                <img src="assets/images/FPT.jpg" alt="">
                              </div>
                            </td>
                            <td><a href="">FPT Software</a></td>
                            <td>Ho Chi Minh City</td>
                            <td>tuhihi</td>
                            <td>(5)</td>
                            <td>(6)</td>
                            <td>
                              <button type="submit" class="btn btn-success">Activate</button>
                            </td>
                          </tr>
                          <tr>
                              <td>
                                <div class="media-right">
                                  <img src="assets/images/FPT.jpg" alt="">
                                </div>
                              </td>
                              <td>FPT Software</td>
                              <td>Ho Chi Minh City</td>
                              <td>tuhihi</td>
                              <td>(5)</td>
                              <td>(6)</td>
                              <td>
                                <button type="submit" class="btn btn-success">Activate</button>
                              </td>
                            </tr>
    
                            
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content Area -->
