<!-- Page header -->
<app-page-header [parentTitle]="parentTitle" [title]="title" [subTitle]="subTitle" [titleLink]="titleLink" [subTitleLink]="subTitleLink"></app-page-header>

<div class="page-header page-header-default">


  <!-- Content area -->
  <div class="content">

    <!-- resource-project -->
    <div class="panel panel-flat">
      <div class="panel-body">

        <table class="table datatable-basic">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Address</th>
              <th>City</th>
              <th>Tel</th>
              <th>Email</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody *ngFor="let x of companies" (click)="viewCompanyDetail(x.id)">
            <tr >
              <td>{{x.name}}</td>
              <td>{{x.address}}</td>
              <td>{{x.city}}</td>
              <td>{{x.tel}}</td>
              <td>{{x.email}}</td>
              <td>
                <button type="button" class="btn btn-success">
                  Available
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Content Area -->
