<app-page-header [parentTitle]="parentTitle" [title]="title" [titleLink]="titleLink"></app-page-header>

<!-- Content area -->
<!-- <div class="content row">
  <div class="col-md-2"></div>
  <div class="panel panel-flat col-md-8">
    <div class="panel-heading">
      <h5 class="panel-title">List your contracts</h5>
    </div>
    <div class="panel-body">
      <ul class="media-list">
        <div class="row">
          <div class="col-md-5">
            <li class="media">
              <div class="media-left">
                <img src="assets/images/FPT.jpg" style="width: 70px; height: 70px;" class="img-circle" alt="">
              </div>
              <div class="media-body">
                <div class="media-heading text-semibold">&nbsp;</div>
                <div class="media-heading text-semibold">
                  <a>aaaa - </a>
                  <a>
                    <b>bbbb</b>
                  </a>
                </div>
                <div class="media-heading text-semibold">&nbsp;</div>
              </div>
            </li>
          </div>
          <div class="col-md-5">
            <li class="media">
              <div class="media-left">
                <img src="assets/images/FPT.jpg" style="width: 70px; height: 70px;" class="img-circle" alt="">
              </div>
              <div class="media-body">
                <div class="media-heading text-semibold">&nbsp;</div>
                <div class="media-heading text-semibold">
                  <a>aaaa - </a>
                  <a>
                    <b>bbbb</b>
                  </a>
                </div>
                <div class="media-heading text-semibold">&nbsp;</div>
              </div>
            </li>
          </div>
          <div class="col-md-2">
            <li class="media">
              <div class="media-left">
              </div>
              <div class="media-body">
                <div class="media-heading text-semibold">&nbsp;</div>
                <div class="media-heading text-semibold">
                  <a>aaaa - </a>
                  <a>
                    <b>bbbb</b>
                  </a>
                </div>
                <div class="media-heading text-semibold">&nbsp;</div>
              </div>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="col-md-2"></div>
</div> -->
<div class="col-md-12" id="main">

  <div class="panel panel-flat">
    <div class="panel-body">

      <table class="table datatable-basic table-hover">
        <thead>
          <tr>
            <th>Resource Name</th>
            <th>Project Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let resourceContract of resourceContracts">
            <td>{{resourceContract?.humanResourceByHumanResourceId?.fullname}}</td>
            <td>{{resourceContract?.projectByProjectId?.title}}</td>
            <td>{{resourceContract?.contractByContractId?.startDate | date:'dd/MM/yyyy' }}</td>
            <td>{{resourceContract?.contractByContractId?.endDate | date:'dd/MM/yyyy' }}</td>
            <td>
              <span class="label" [ngClass]="resourceContract.status == 1 ? 'bg-blue-400' : resourceContract.status == 2 ? 'bg-green-400' : resourceContract.status == 3 ? 'bg-slate-400' : 'bg-danger-400'">
                {{resourceContract.status == 1 ? "PENDING" : resourceContract.status == 2 ? "ON GOING" : resourceContract.status == 3 ? "FINISH"
                : "CANCEL"}}</span>
            </td>
            <td class="text-center" (click)="viewContractDetail(resourceContract.id)">
              <i class="icon-eye"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>