<app-page-header [parentTitle]="parentTitle"></app-page-header>
<!-- Content area -->
<div class="content">
  <!-- Custom handle -->
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">List company account request</h5>
    </div>

    <div class="panel-body">
      <ul class="media-list">
        <!-- <li class="media-header">Team leaders</li> -->

        <li class="media" *ngFor="let company of companies">

          <div class="media-left">
            <img src="assets/images/placeholder.jpg" style="width: 70px; height: 70px;" class="img-circle" alt="">
          </div>
          <div class="media-body">
            <div class="media-heading text-semibold"></div>
            <div class="media-heading text-semibold">{{company.companyName}}</div>
            <div class="media-heading text-semibold"></div>
            <!-- <span class="text-muted">Last.fm</span> -->
          </div>
          <div class="media-right media-middle">
            <ul class="icons-list text-nowrap">
              <li>
                <button type="submit" (click)="test()" class="btn btn-info btn-xs">
                  <i class="glyphicon glyphicon-ok position-left"></i>Accept</button>
              </li>
              <li>
                <button type="button" class="btn btn-danger btn-xs">
                  <i class="glyphicon glyphicon-remove position-left"></i>Remove</button>
              </li>
              <li> </li>
              <li>
                <a data-toggle="collapse" [attr.data-target]="'#company' + company.id">
                  <i class="icon-menu7"></i>
                </a>
              </li>

            </ul>
          </div>
          <div class="collapse" id="company{{company.id}}">
            <div class="contact-details">
              <ul class="list-extended list-unstyled list-icons">
                <li>
                  <i class="icon-pin position-left"></i>{{company.companyAddress}}</li>
                <li>
                  <i class="icon-user-tie position-left"></i>Anh Tu</li>
                <li>
                  <i class="icon-phone position-left"></i> +1(800)431 8996</li>
                <li>
                  <i class="icon-mail5 position-left"></i>
                  <a href="#">abc@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>


        </li>
      </ul>
    </div>
  </div>
  <!-- /custom handle -->
</div>
<!-- /content area -->
