<!-- Page header -->
<!-- <div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Home</span>
            </h4>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <form action="#" class="main-search">
                    <div class="input-group content-group btn-float has-text">
                        <input type="text" class="form-control input-lg" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn bg-slate-600 btn-icon btn-lg">
                                <i class="icon-search4"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">
                    <i class="icon-home2 position-left"></i> Home</a>
            </li>

        </ul>
    </div>
</div> -->
<app-page-header [parentTitle]="parentTitle"></app-page-header>
<div class="col-md-12" id="main">


  <!-- resource-project -->
  <div class="content">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Search</h5>
        <div class="heading-elements">
          <ul class="icons-list">
            <li>
              <a data-action="collapse"></a>
            </li>

          </ul>
        </div>
      </div>

      <div class="panel-body">
        <div class="input-group content-group col-md-12">
          <div class="col-md-6">
            <div class="has-feedback has-feedback-left">
              <input type="text" [(ngModel)]="searchModel.company" class="form-control input-xlg" value="" placeholder="Company name">
              <div class="form-control-feedback">
                <i class="icon-search4 text-muted text-size-base"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="col-md-5">
              <ng-select class="test" [(ngModel)]="searchModel.skill" [options]="listSkillOpt" placeholder="Select Skill">
              </ng-select>
            </div>
            <div class="col-md-5">
              <ng-select class="test" [(ngModel)]="searchModel.location" [options]="listLocationOpt" placeholder="Select Location">
              </ng-select>
            </div>
            <div class="col-md-2">
              <div class="input-group-btn">
                <button type="submit" (click)="search()" class="btn btn-primary btn-xlg">Search</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="panel panel-flat">
      <div class="panel-body">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
            <li class="active">
              <a href="#highlighted-justified-tab1" data-toggle="tab" aria-expanded="false">Resource</a>
            </li>
            <li class="">
              <a href="#highlighted-justified-tab2" data-toggle="tab" aria-expanded="true">Project</a>
            </li>
          </ul>
          <div class="tab-content">
            <!-- resource -->
            <div class="tab-pane active" id="highlighted-justified-tab1">

              <div class="row">
                <div class="col-lg-4 col-md-4" *ngFor="let resource of resources">
                  <div class="panel panel-body" id="resource" (click)="viewResourceDetail(resource.id)">
                    <div class="media" style="height: 80px">
                      <div class="media-left">
                        <a href="assets/images/avatar.png" data-popup="lightbox">
                          <img src="{{resource.avatar}}" class="img-circle img-lg" alt="">
                        </a>
                      </div>

                      <div class="media-body">
                        <div class="media-heading col-sm-12 no-padding">
                          <div class="col-sm-6">
                            <h6 class="media-heading text-bold">{{resource.fullname}}</h6>
                          </div>
                          <div class="col-sm-6 no-padding text-right">
                            <i>Jun 1st - Dec 6th</i>
                          </div>
                        </div>

                        <h6 class="media-heading col-sm-12">
                          <i *ngFor="let x of resource.resourceSkillsById">{{x.skillBySkillId.title}}, </i>
                        </h6>
                        <span class="media-heading col-sm-12 text-semibold">{{resource?.companyByCompanyId?.name}}</span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Pagination -->
              <div class="text-center content-group pt-20">
                <ul class="pagination">
                  <li class="disabled">
                    <a href="#">&larr;</a>
                  </li>
                  <li class="active">
                    <a href="#">1</a>
                  </li>
                  <li>
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                  <li>
                    <a href="#">4</a>
                  </li>
                  <li>
                    <span>...</span>
                  </li>
                  <li>
                    <a href="#">58</a>
                  </li>
                  <li>
                    <a href="#">59</a>
                  </li>
                  <li>
                    <a href="#">&rarr;</a>
                  </li>
                </ul>
              </div>
              <!-- /pagination -->
            </div>
            <!-- project -->
            <div class="tab-pane" id="highlighted-justified-tab2">
              <div class="row">
                <div class="col-lg-4 col-md-4" *ngFor="let project of projects">
                  <div class="panel panel-body" id="resource" (click)="viewProjectDetail(project.id)">
                    <div class="media" style="height: 80px">
                      <div class="media-left">
                        <a href="#" data-popup="lightbox">
                          <img src="{{project?.companyByCompanyId?.logo}}" class="img-circle img-lg" alt="{{project?.companyByCompanyId?.name}}">
                        </a>
                      </div>
                      <!-- <div class="media-body">
                        <h6 class="media-heading">{{project.name}}</h6>
                        <span class="text-muted">{{project.company}}</span>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">{{project.skill}}</h6>
                        <span class="text-muted">25-5-2018</span>
                      </div> -->
                      <div class="media-body">
                        <div class="media-heading col-sm-12 no-padding">
                          <div class="col-sm-6">
                            <h6 class="media-heading text-bold" style="overflow: hidden;">{{project.title}}</h6>
                          </div>
                          <div class="col-sm-6 no-padding text-right">
                            <i>Jun 1st - Dec 6th</i>
                          </div>
                        </div>

                        <h6 class="media-heading col-sm-12">
                          <!-- <i *ngFor="let x of resource.resourceSkillsById">{{x.skillBySkillId.title}}, </i> -->
                        </h6>
                        <span class="media-heading col-sm-12 text-semibold">{{project?.companyByCompanyId?.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Top companies -->
    <div class="content">
      <h2>Top companies</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let company of companies">
          <div class="thumbnail" id="company" (click)="viewCompanyDetail(company.id)" style="height: 350px;">
            <div class="thumb thumb-rounded">
              <img src="assets/images/evolable-asia-logo-170-151.png" alt="">
              <div class="caption-overflow">
                <span>
                  <a href="assets/images/avatar.png" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox">
                    <i class="icon-plus2"></i>
                  </a>
                  <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs">
                    <i class="icon-link"></i>
                  </a>
                </span>
              </div>
            </div>

            <div class="caption text-center">
              <h6 class="text-semibold no-margin">{{company.name}}
                <small class="display-block">{{company.city}}</small>
              </h6>
              <ul class="icons-list mt-15">
                <li>
                  <a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Google Drive">
                    <i class="icon-google-drive"></i>
                  </a>
                </li>
                <li>
                  <a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Twitter">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Github">
                    <i class="icon-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
