<!-- <p>
  manage-resources works!
  employee 1
  employee 2
</p> -->
<div class="col-md-12" id="main">
    <div class="content">
        <span>There are available resources and projects</span>
    </div>

    <!-- resource-project -->
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                    <li class="active">
                        <a href="#highlighted-justified-tab1" data-toggle="tab" aria-expanded="false">Resource</a>
                    </li>
                    <li class="">
                        <a href="#highlighted-justified-tab2" data-toggle="tab" aria-expanded="true">Project</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="highlighted-justified-tab1">
                        <div class="row">
                            <div class="col-lg-6 col-md-6" *ngFor="let user of users">
                                <div class="panel panel-body" id="resource">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="assets/images/placeholder.jpg" data-popup="lightbox">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-lg" alt="">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">{{user.name}}</h6>
                                            <span class="text-muted">{{user.company}}</span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">{{user.skill}}</h6>
                                            <span class="text-muted">25-5-2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="highlighted-justified-tab2">
                        <div class="row">
                            <div class="col-lg-6 col-md-6" *ngFor="let project of projects">
                                <div class="panel panel-body" id="resource">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="assets/images/placeholder.jpg" data-popup="lightbox">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-lg" alt="">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">{{project.name}}</h6>
                                            <span class="text-muted">{{project.company}}</span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">{{project.skill}}</h6>
                                            <span class="text-muted">25-5-2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top companies -->
    <div class="content">
        <span>Top companies</span>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let company of companies">
            <div class="thumbnail">
                <div class="thumb thumb-rounded">
                    <img src="assets/images/placeholder.jpg" alt="">
                    <div class="caption-overflow">
                        <span>
                            <a href="assets/images/placeholder.jpg" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox">
                                <i class="icon-plus2"></i>
                            </a>
                            <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs">
                                <i class="icon-link"></i>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="caption text-center">
                    <h6 class="text-semibold no-margin">{{company.name}}
                        <small class="display-block">{{company.location}}</small>
                    </h6>
                    <ul class="icons-list mt-15">
                        <li>
                            <a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Google Drive">
                                <i class="icon-google-drive"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Twitter">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-popup="tooltip" title="" data-container="body" data-original-title="Github">
                                <i class="icon-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>