<!-- Page header -->
<div class="page-header page-header-default">
  <div class="page-header-content">
      <div class="page-title">
          <h4>
              <i class="icon-arrow-left52 position-left"></i>
              <span class="text-semibold">{{parentTitle}}</span>
              {{title}}{{subTitle}}
          </h4>
      </div>

      <div class="heading-elements">
          <div class="heading-btn-group">
              <form action="#" class="main-search">
                  <div class="input-group content-group btn-float has-text">
                      <input type="text" class="form-control input-lg" placeholder="Search">
                      <div class="input-group-btn">
                          <button type="submit" class="btn bg-slate-600 btn-icon btn-lg">
                              <i class="icon-search4"></i>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <div class="breadcrumb-line">
      <ul class="breadcrumb">
          <li>
              <a href="index.html">
                  <i class="icon-home2 position-left"></i> Home</a>
          </li>

      </ul>
  </div>
</div>