<div id="modal_theme_info" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title text-center">Manage Apply</h6>
      </div>

      <div class="modal-body">
        <!-- List  -->
        <div class="media" *ngFor="let x of listAvailableResource">
          <div class="media-left">
            <img src="assets/images/avatar.png" style="width: 50px;height: 50px;" alt="">
          </div>
          <div class="media-body">
            <h6 style="margin-top: 0px">
              <b>{{x.resource.fullname}}</b>
            </h6>
            <i class="text-muted">Join to</i>
            <a href="#">
              <b>{{x.project.title}}</b>
            </a>
            <i class="text-muted">project</i>
          </div>
          <div class="media-right">
            <!-- <button type="submit" class="btn btn-success" (click)="appliable(x)">Apply</button> -->
            <button type="submit" class="btn btn-success" (click)="viewContract(x.resource.id, x.project.id)">Apply</button>            
          </div>
          <hr>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Save changes</button>
      </div>
    </div>
  </div>
</div>
