<div class="panel-body">
  <ul class="media-list">
    <li class="media" *ngFor="let x of listResourceJoined">
      <div class="media-left">
        <a href="#">
          <img src="assets/images/avatar.png" class="img-circle" style="width: 70px;height: 70px;" alt="">
        </a>
      </div>

      <div class="media-body">
        <div class="media-heading text-semibold">
          <a href="">{{x.humanResourceByHumanResourceId.fullname}}</a>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="text-bold">Company</i> : {{x.humanResourceByHumanResourceId.companyByCompanyId.name}}
          </div>
          <div class="col-md-6">
            <i class="text-bold">Location</i> : {{x.humanResourceByHumanResourceId.companyByCompanyId.city}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="text-bold">Email</i> : {{x.humanResourceByHumanResourceId.email}}
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <i class="text-bold">Experience</i> :
            <span *ngFor="let c of x.humanResourceByHumanResourceId.resourceSkillsById">
              {{c.skillBySkillId.title}}({{c.experience}} years),
            </span>
          </div>
        </div>
      </div>
      <div class="media-right media-middle">
        <span class="label label-primary">Joined</span>
      </div>
    </li>
  </ul>
</div>
