<div class="panel-body">
  <ul class="media-list">
    <li class="media" *ngFor="let x of listResourceJoined">
      <div class="media-left">
        <a href="#">
          <img src="assets/images/avatar.png" class="img-circle" style="width: 70px;height: 70px;" alt="">
        </a>
      </div>

      <div class="media-body">
        <div class="media-heading text-semibold">
          <a href="">{{x.humanResourceByHumanResourceId.fullname}}</a>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="text-bold">Company</i> : {{x.humanResourceByHumanResourceId.companyByCompanyId.name}}
          </div>
          <div class="col-md-6">
            <i class="text-bold">Location</i> : {{x.humanResourceByHumanResourceId.companyByCompanyId.city}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="text-bold">Email</i> : {{x.humanResourceByHumanResourceId.email}}
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <i class="text-bold">Experience</i> :
            <span *ngFor="let c of x.humanResourceByHumanResourceId.resourceSkillsById">
              {{c.skillBySkillId.title}}({{c.experience}} years),
            </span>
          </div>
        </div>
      </div>
      <div class="media-right media-middle">
        <!-- <span class="label label-primary">Joined</span> -->

        <button type="button" class="btn btn-danger btn-xs" style="margin-top: 10px" data-toggle="modal" data-target="#modal_small"
          (click)="releaseResource(x.id, x.projectId)">
          <i class="icon-cross2 position-left"></i>Release</button>
      </div>

      <!-- Small modal -->
      <div id="modal_small" class="modal fade">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Chọn trạng thái resource with this project</h5>
            </div>

            <div class="modal-body">
              
              <!-- Radio button -->
            <div class="">
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="unstyled-radio-left" (change)="isKick = !isKick"> chưa tham gia vào dự án
                  </label>
                </div>

                <div class="radio">
                  <label>
                    <input type="radio" name="unstyled-radio-left"> đang tham gia vào dự án
                  </label>
                </div>

                <div class="radio">
                    <label>
                      <input type="radio" name="unstyled-radio-left"> đã kết thúc hợp đồng
                    </label>
                  </div>
              </div>
            </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" (click)="releaseResource(1,2)">Release</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /small modal -->
    </li>
  </ul>
</div>