<div class="row" id="main">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="page-container">
      <div class="page-content">
        <div class="content-wrapper">
          <div class="content">
            <form action="index.html" #registerForm="ngForm" (ngSubmit)="onFormSubmit(registerForm)">
              <div class="panel registration-form">
                <div class="panel-body">
                  <div class="text-center">
                    <div class="icon-object border-success text-success">
                      <i class="icon-plus3"></i>
                    </div>
                    <h5 class="content-group-lg">Create account
                      <small class="display-block">All fields are required</small>
                    </h5>
                  </div>

                  <div class="content-divider text-muted form-group">
                    <span>Your company info</span>
                  </div>

                  <div class="form-group has-feedback">
                    <input [(ngModel)]="registerInfo.companyName" type="text" class="form-control" placeholder="Company name" name="companyName"
                      required #companyName="ngModel">
                    <div class="form-control-feedback">
                      <i class="icon-office text-muted"></i>
                    </div>
                    <div *ngIf="companyName.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                      <div *ngIf="companyName.errors.required">
                        <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <input [(ngModel)]="registerInfo.companyAddress" type="text" class="form-control" placeholder="Address" name="companyAddress"
                          required #companyAddress="ngModel">

                        <div class="form-control-feedback">
                          <i class="icon-location4 text-muted"></i>
                        </div>
                        <div *ngIf="companyAddress.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="companyAddress.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <select name="select" class="form-control" [(ngModel)]="registerInfo.companyCity" name="companyCity" required #companyCity="ngModel">
                          <option value="" disabled selected>select</option>
                          <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                          <option value="Hà Nội">Hà Nội</option>
                          <option value="Đà Nẵng">Đà Nẵng</option>
                          <option value="Others">Others</option>
                        </select>
                        <div class="form-control-feedback">
                          <i class="icon-location3 text-muted"></i>
                        </div>
                        <div *ngIf="companyCity.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="companyCity.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <input [(ngModel)]="registerInfo.companyCountry" type="text" class="form-control" placeholder="Country" name="companyCountry"
                          required #companyCountry="ngModel">

                        <div class="form-control-feedback">
                          <i class="icon-flag4 text-muted"></i>
                        </div>
                        <div *ngIf="companyCountry.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="companyCountry.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <input [(ngModel)]="registerInfo.companyTax" type="text" class="form-control" placeholder="Tax code" name="companyTax" required
                          #companyTax="ngModel">

                        <div class="form-control-feedback">
                          <i class="icon-barcode2 text-muted"></i>
                        </div>
                        <div *ngIf="companyTax.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="companyTax.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback">

                        <input [(ngModel)]="registerInfo.companyEmail" type="text" class="form-control" placeholder="Company Email" required [pattern]="emailPattern"
                          #companyEmail="ngModel" name="companyEmail">
                        <div class="form-control-feedback">
                          <i class="icon-envelope text-muted"></i>
                        </div>
                        <div *ngIf="companyEmail.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="companyEmail.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                          <div *ngIf="companyEmail.errors.pattern">
                            <label id="basic-error" class="validation-error-label" for="basic">Please enter a valid email address.</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <input [(ngModel)]="registerInfo.companyTel" type="text" class="form-control" placeholder="Phone" name="companyTel" required
                          #companyTel="ngModel">

                        <div class="form-control-feedback">
                          <i class="icon-iphone text-muted"></i>
                        </div>
                        <div *ngIf="companyTel.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="companyTel.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="content-divider text-muted form-group">
                    <span> Representative information</span>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <input [(ngModel)]="registerInfo.representativeName" type="text" class="form-control" placeholder="Name" name="representativeName"
                          required #representativeName="ngModel">

                        <div class="form-control-feedback">
                          <i class="icon-user-plus text-muted"></i>
                        </div>
                        <div *ngIf="representativeName.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="representativeName.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group has-feedback">

                        <input [(ngModel)]="registerInfo.representtativeEmail" type="text" class="form-control" placeholder="Representtative Email"
                          required [pattern]="emailPattern" #representEmail="ngModel" name="representtativeEmail">
                        <div class="form-control-feedback">
                          <i class="icon-mention text-muted"></i>
                        </div>
                        <div *ngIf="representEmail.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="representEmail.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                          <div *ngIf="representEmail.errors.pattern">
                            <label id="basic-error" class="validation-error-label" for="basic">Please enter a valid email address.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <input [(ngModel)]="registerInfo.representativeTel" type="text" class="form-control" placeholder="Representative Phone" name="representativeTel"
                          required #representativeTel="ngModel">
                        <div class="form-control-feedback">
                          <i class="icon-iphone text-muted"></i>
                        </div>
                        <div *ngIf="representativeTel.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="representativeTel.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group has-feedback">
                        <input [(ngModel)]="registerInfo.representativeTitle" type="text" class="form-control" placeholder="Representative Title"
                          name="representativeTitle" required #representativeTitle="ngModel">

                        <div class="form-control-feedback">
                          <i class="icon-reading text-muted"></i>
                        </div>
                        <div *ngIf="representativeTitle.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                          <div *ngIf="representativeTitle.errors.required">
                            <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content-divider text-muted form-group">
                    <span>{{error}}</span>
                  </div>

                  <div class="text-right">
                    <button class="btn btn-link" (click)="redirectLoginPage()">
                      <i class="icon-arrow-left13 position-left"></i> Back to login form</button>
                    <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-20">
                      <b>
                        <i class="icon-circle-right2 position-right"></i>
                      </b> Submit form</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>