<div class="row">
  <div class="col-md-4"></div>
  <div class="content col-md-4">
    <div class="page-container">

      <!-- Page content -->
      <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

          <!-- Content area -->
          <div class="content">

            <!-- Advanced login -->
            <form action="index.html" #registerForm="ngForm" (ngSubmit)="onFormSubmit(registerForm)">
              <div class="panel panel-body login-form">
                <div class="text-center">
                  <div class="icon-object border-success text-success">
                    <i class="icon-plus3"></i>
                  </div>
                  <h5 class="content-group">REQUEST FOR ACCOUNT
                    <small class="display-block">All fields are required</small>
                  </h5>
                </div>

                <div class="content-divider text-muted form-group">
                  <span>Your company info</span>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.companyName" type="text" class="form-control" placeholder="Company name" name="companyName">
                  <div class="form-control-feedback">
                    <i class="icon-user-check text-muted"></i>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.companyAddress" type="text" class="form-control" placeholder="Address" name="companyAddress">
                  <div class="form-control-feedback">
                    <i class="icon-user-check text-muted"></i>
                  </div>
                </div>

                <!-- <div class="form-group has-feedback has-feedback-left">
                  <select name="select" class="form-control">
                    <option value="opt1">Hồ Chí Minh</option>
                    <option value="opt2">Hà Nội</option>
                    <option value="opt3">Đà Nẵng</option>
                    <option value="opt4">Others</option>
                  </select>
                  <div class="form-control-feedback">
                    <i class="icon-user-lock text-muted"></i>
                  </div>
                </div> -->


                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.companyCity" type="text" class="form-control" placeholder="City" name="companyCity">
                  <div class="form-control-feedback">
                    <i class="icon-user-lock text-muted"></i>
                  </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.companyCountry" type="text" class="form-control" placeholder="Country" name="companyCountry">
                  <div class="form-control-feedback">
                    <i class="icon-user-lock text-muted"></i>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.companyTax" type="text" class="form-control" placeholder="Tax code" name="companyTax">
                  <div class="form-control-feedback">
                    <i class="icon-user-lock text-muted"></i>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.companyEmail" type="text" class="form-control" placeholder="Company Email" required [pattern]="emailPattern"
                    #companyEmail="ngModel" name="companyEmail">
                  <div class="form-control-feedback">
                    <i class="icon-mention text-muted"></i>
                  </div>
                  <div *ngIf="companyEmail.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                    <div *ngIf="companyEmail.errors.required">
                      <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                    </div>
                    <div *ngIf="companyEmail.errors.pattern">
                      <label id="basic-error" class="validation-error-label" for="basic">Please enter a valid email address.</label>
                    </div>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.companyTel" type="text" class="form-control" placeholder="Phone" name="companyTel">
                  <div class="form-control-feedback">
                    <i class="icon-user-lock text-muted"></i>
                  </div>
                </div>

                <div class="content-divider text-muted form-group">
                  <span> Representative information</span>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.representativeName" type="text" class="form-control" placeholder="Name" name="representativeName">
                  <div class="form-control-feedback">
                    <i class="icon-mention text-muted"></i>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.representtativeEmail" type="text" class="form-control" placeholder="Representtative Email"
                    required [pattern]="emailPattern" #representEmail="ngModel" name="representtativeEmail">
                  <div class="form-control-feedback">
                    <i class="icon-mention text-muted"></i>
                  </div>
                  <div *ngIf="representEmail.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                    <div *ngIf="representEmail.errors.required">
                      <label id="basic-error" class="validation-error-label" for="basic">This field is required.</label>
                    </div>
                    <div *ngIf="representEmail.errors.pattern">
                      <label id="basic-error" class="validation-error-label" for="basic">Please enter a valid email address.</label>
                    </div>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.representativeTel" type="text" class="form-control" placeholder="Representative Phone" name="representativeTel">
                  <div class="form-control-feedback">
                    <i class="icon-mention text-muted"></i>
                  </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                  <input [(ngModel)]="registerInfo.representativeTitle" type="text" class="form-control" placeholder="Representative Title"
                    name="representativeTitle">
                  <div class="form-control-feedback">
                    <i class="icon-mention text-muted"></i>
                  </div>
                </div>

                <div class="content-divider text-muted form-group">
                  <span>{{error}}</span>
                </div>

                <button type="submit" class="btn bg-teal btn-block btn-lg">Submit
                  <i class="icon-circle-right2 position-right"></i>
                </button>
              </div>
            </form>
            <!-- /advanced login -->
          </div>
          <!-- /content area -->

        </div>
        <!-- /main content -->

      </div>
      <!-- /page content -->

    </div>
  </div>

  <div class="col-md-4"></div>
</div>




<!-- 
<div class="content" class="col-md-6">
  <div class="panel-heading">
    <h2 class="panel-title">Request for Account</h2>

  </div>
  <div class="panel-body">
    <form class="form-horizontal" #registerForm="ngForm" (ngSubmit)="onFormSubmit(registerForm)">
      <div class="form-group">
        <label class="control-label col-lg-2">Email</label>
        <div class="col-lg-10">
          <input name="email" required [ngModel]="registerInfo.email" [pattern]="emailPattern" #representEmail="ngModel">
          <div *ngIf="representEmail.errors && registerForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
            <div *ngIf="representEmail.errors.required">
              Email required.
            </div>
            <div *ngIf="representEmail.errors.pattern">
              Email not valid.
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div> -->