
<div class="content" class="col-md-6">
  <div class="panel-heading">
    <h2 class="panel-title">Request for Account</h2>

  </div>
  <div class="panel-body">
    <form class="form-horizontal" action="#">
      <fieldset class="content-group">
        <legend class="text-bold">Company information</legend>

        <div class="form-group">
          <label class="control-label col-lg-2">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Enter your company name..." 
            [(ngModel)]="model.field" name="field" #field="ngModel" 
              number required />
            <p *ngIf="field.errors?.number">error message</p>
            <p *ngIf="field.errors?.requiredInput">required</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Website</label>
          <div class="col-lg-10">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Address</label>
          <div class="col-lg-10">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">City</label>
          <div class="col-lg-10">
            <select name="select" class="form-control">
              <option value="opt1">Hồ Chí Minh</option>
              <option value="opt2">Hà Nội</option>
              <option value="opt3">Đà Nẵng</option>
              <option value="opt4">Others</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Tax code</label>
          <div class="col-lg-10">
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Phone</label>
          <div class="col-lg-10">
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Fax</label>
          <div class="col-lg-10">
            <input type="number" class="form-control">
          </div>
        </div>

      </fieldset>
      <fieldset class="content-group">
        <legend class="text-bold">Representative information</legend>
        <div class="form-group">
          <label class="control-label col-lg-2">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Enter your company name...">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Title</label>
          <div class="col-lg-10">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Phone</label>
          <div class="col-lg-10">
            <input type="number" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2">Email</label>
          <div class="col-lg-10">
            <input type="email" class="form-control">
          </div>
        </div>
      </fieldset>
      <h6 class="panel-title">Note: We will contact you after verifying your company. Please wait until then.</h6>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>


<form class="form-horizontal form-validate-jquery" action="#" novalidate="novalidate">
    <fieldset class="content-group">
      <legend class="text-bold">Basic inputs</legend>

      <!-- Basic text input -->
      <div class="form-group">
        <label class="control-label col-lg-3">Basic text input <span class="text-danger">*</span></label>
        <div class="col-lg-9">
          <input type="text" name="basic" class="form-control" required="required" placeholder="Text input validation" aria-required="true">
        </div>
      </div>
      <!-- /basic text input -->


      <!-- Input with icons -->
      <div class="form-group has-feedback">
        <label class="control-label col-lg-3">Input with icon <span class="text-danger">*</span></label>
        <div class="col-lg-9">
          <input type="text" name="with_icon" class="form-control" required="required" placeholder="Text input with icon validation" aria-required="true">
          <div class="form-control-feedback">
            <i class="icon-droplets"></i>
          </div>
        </div>
      </div>
      <!-- /input with icons -->
    </fieldset>
    <div class="text-right">
      <button type="reset" class="btn btn-default" id="reset">Reset <i class="icon-reload-alt position-right"></i></button>
      <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
    </div>
  </form>