<!-- Page header -->
<div class="page-header">
  <!-- Header content -->
  <app-page-header [parentTitle]="parentTitle" [title]="title" [subTitle]="subTitle" [titleLink]="titleLink" [subTitleLink]="subTitleLink"></app-page-header>

  <!-- /header content -->


  <!-- Toolbar -->
  <!-- Chief view -->
  <div *ngIf="isChief" class="navbar navbar-default navbar-component navbar-xs">
    <ul class="nav navbar-nav visible-xs-block">
      <li class="full-width text-center">
        <a data-toggle="collapse" data-target="#navbar-filter">
          <i class="icon-menu7"></i>
        </a>
      </li>
    </ul>


    <div class="navbar-collapse collapse" id="navbar-filter">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#profileTab" data-toggle="tab">
            <i class="icon-menu7 position-left"></i> Profile</a>
        </li>
        <li>
          <a href="#updateProfile" data-toggle="tab">
            <i class="icon-pencil3 position-left"></i> Update profile
          </a>
        </li>
        <li>
          <a href="#openingProjectTab" data-toggle="tab">
            <i class="icon-calendar3 position-left"></i> Openning project
            <span class="badge badge-success badge-inline position-right">{{countProject}}</span>
          </a>
        </li>
        <li>
          <a href="#availableResourceTab" data-toggle="tab">
            <i class="icon-calendar3 position-left"></i> Available resource
            <span class="badge badge-success badge-inline position-right">{{countResource}}</span>
          </a>
        </li>

      </ul>


    </div>



  </div>
  <!-- /toolbar -->

  <!-- Another View -->


</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

  <!-- User profile -->
  <div class="row">
    <!-- left info -->
    <!-- chief view -->
    <div *ngIf="isChief" class="col-lg-9">
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="profileTab">

            <!-- Timeline -->
            <div class="timeline timeline-left content-group">
              <div class="timeline-container">

                <!-- Company Overview -->
                <div class="timeline-row">
                  <div class="timeline-icon">
                    <a href="#">
                      <img src="assets/images/placeholder.jpg" alt="">
                    </a>
                  </div>

                  <div class="panel panel-flat timeline-content">
                    <div class="panel-heading">
                      <h2 class="panel-title">Overview Company</h2>
                      <div class="heading-elements">
                        <span class="heading-text">
                          <i class="icon-history position-left text-success"></i> Updated 3 hours ago</span>

                        <ul class="icons-list">
                          <li>
                            <a data-action="reload"></a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="panel-body">
                      <div class="chart-container">
                        <!-- <h3>The leading provider of software outsourcing services in Vietnam</h3>
                        <p>Established in 1999, ranking in Top 100 Global Outsourcing, recognized as Top Best IT Company To
                          Work in Vietnam (2014), FPT Software is a global software company with presence in US, Japan, EU,
                          Asia Pacific and Australia. </p>
                        <p>FPT Software staff take pride in fair competition with work quality equal to that of the world’s
                          500 biggest companies’ staff in central area of technology such as Mobility, Cloud Computing, Big
                          Data..</p>
                        <p>Annually, thousands of staff have gone on business trips overseas.</p>
                        <p>FPT Software‘s members consist of Vietnam, US, Japan, EU, Slovakia, Singapore, Myanmar‘s citizens.
                          Though from different origins, they all share the common mission of turning FPT Software into one
                          of the world’s leading software companies</p> -->
                        {{company?.description}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Overview company -->


                <!-- Skill Set -->
                <div class="timeline-row">
                  <div class="timeline-icon">
                    <img src="assets/images/placeholder.jpg" alt="">
                  </div>

                  <div class="panel panel-flat timeline-content">
                    <div class="panel-heading">
                      <h6 class="panel-title">Our Key Skills</h6>
                      <div class="heading-elements">
                        <span class="heading-text">
                          <i class="icon-history position-left text-success"></i> Updated 3 hours ago</span>

                        <ul class="icons-list">
                          <li>
                            <a data-action="reload"></a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="panel-body">
                      <button class="btn btn-flat border-grey">Java </button>
                      <button class="btn btn-flat border-grey">C# </button>
                      <button class="btn btn-flat border-grey">English </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- /timeline -->

          </div>


          <!-- Opening Project -->
          <div class="tab-pane fade" id="openingProjectTab">
            <div class="timeline timeline-left content-group">
              <div class="timeline-container">
                <div class="timeline-row">
                  <div class="timeline-icon">
                    <a href="#">
                      <img src="assets/images/placeholder.jpg" alt="">
                    </a>
                  </div>
                  <div class="panel panel-flat timeline-content">
                    <div class="panel-body">
                      <table class="table datatable-basic table-hover">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Created Date</th>
                            <th>Matched</th>
                            <th>Status</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let project of openProjects" (click)="viewOpenProject(project.id)">
                            <td>{{project.title}}</td>
                            <td>{{project.type}}</td>
                            <td>{{project.createDate}}</td>
                            <td></td>
                            <td>
                              <span class="label" [ngClass]="project.processStatus == 1 ? 'bg-blue-400' : 'btn-danger'">
                                {{project.processStatus == 1 ? "PENDING" : "ON GOING"}}</span>
                            </td>
                            <td class="text-center" (click)="viewProjectDetail(project.id)">
                              <i class="icon-eye"></i>
                            </td>

                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>



          </div>


          <!-- Manage Invite -->
          <div class="tab-pane fade" id="availableResourceTab">

            <div class="timeline timeline-left content-group">
              <div class="timeline-container">
                <div class="timeline-row">
                  <div class="timeline-icon">
                    <a href="#">
                      <img src="assets/images/placeholder.jpg" alt="">
                    </a>
                  </div>
                  <div class="panel panel-flat timeline-content">
                    <div class="panel-body">
                      <table class="table datatable-basic table-hover">
                        <thead>
                          <tr>
                            <th>Full Name</th>
                            <th>Tel</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let humanResources of resourceAvailable" (click)="viewHumanResourceDetail(humanResources.id)">
                            <td>{{humanResources.fullname}}</td>
                            <td>{{humanResources.tel}}</td>
                            <td>{{humanResources.email}}</td>
                            <td>
                              <span class="label" [ngClass]="humanResources.status == 1 ? 'bg-blue-400' : 'btn-danger'">
                                {{humanResources.status == 1 ? "Activated" : "Inactive"}}</span>
                            </td>
                            <td class="text-center" (click)="viewResourceDetail(humanResources.id)">
                              <i class="icon-eye"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>




          </div>

          <!-- Update Profile updateProfile -->
          <div class="tab-pane fade" id="updateProfile">
            <div class="timeline timeline-left content-group">
              <div class="timeline-container">
                <div class="timeline-row">
                  <div class="timeline-icon">
                    <a href="#">
                      <img src="assets/images/placeholder.jpg" alt="">
                    </a>
                  </div>
                  <app-company-profile (reloadCompanyInfo)="getCompanyInfo()" [company]="company"></app-company-profile>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- another view -->
    <div *ngIf="!isChief" class="col-lg-9">
      <app-company-info-overview [company]="company" [openProjects]="openProjects" [resourceAvailable]="resourceAvailable"></app-company-info-overview>
    </div>

    <!-- right info -->
    <div class="col-lg-3">

      <!-- User thumbnail -->
      <div class="thumbnail">
        <div class="thumb thumb-slide no-padding">
          <img src="assets/images/FPT.jpg" alt="">
          <div class="caption">
            <span>
              <a href="#" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox">
                <i class="icon-plus2"></i>
              </a>
              <a href="#" class="btn bg-success-400 btn-icon btn-xs">
                <i class="icon-link"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="caption text-center">
          <h6 class="text-semibold no-margin">{{company?.name}}
            <small class="display-block">
              <i class="icon-location4"></i> {{company?.address}}</small>
          </h6>
          <ul class="icons-list mt-15">
            <li>
              <a href="#" data-popup="tooltip" title="Google Drive">
                <i class="icon-google-drive"></i>
              </a>
            </li>
            <li>
              <a href="#" data-popup="tooltip" title="Twitter">
                <i class="icon-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" data-popup="tooltip" title="Github">
                <i class="icon-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /user thumbnail -->


      <!-- Navigation -->
      <div *ngIf="!isChief" class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">Ratings</h5>
          <div class="heading-elements">
            <a href="#" class="heading-text">See all &rarr;</a>
          </div>
        </div>

        <div class="list-group no-border no-padding-top">
          <!-- rating -->
          <div class="rating-block list-group-item">
            <h4 class="bold no-padding">4.3
              <small>/ 5</small>
            </h4>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>

          </div>


          <div class="list-group-divider"></div>

          <div class="list-group-item">
            <ul class="list-inline text-center">
              <li>
                <a href="#" class="btn border-teal text-teal btn-flat btn-rounded btn-icon btn-xs valign-text-bottom">
                  <i class="icon-plus3"></i>
                </a>
              </li>
              <li class="text-left">
                <div class="text-semibold">visitors</div>
                <div class="text-muted">2,349 avg</div>
              </li>
            </ul>

            <div class="col-lg-10 col-lg-offset-1">
              <div class="content-group" id="new-visitors"></div>
            </div>
          </div>
          <!-- <a href="#" class="list-group-item">
            <i class="icon-calendar3"></i> Events
            <span class="badge bg-teal-400 pull-right">48</span>
          </a>
          <a href="#" class="list-group-item">
            <i class="icon-cog3"></i> Account settings</a> -->
        </div>
      </div>
      <!-- /navigation -->


      <!-- Share your thoughts -->
      <div *ngIf="!isChief" class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">Reviews</h6>
          <div class="heading-elements">
            <ul class="icons-list">
              <li>
                <a data-action="close"></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel-body">
          <form action="#">
            <div class="form-group">
              <textarea name="enter-message" class="form-control mb-15" rows="3" cols="1" placeholder="Leave comment for company.."></textarea>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <ul class="icons-list icons-list-extended mt-10">
                  <li>
                    <a href="#" data-popup="tooltip" title="Add photo" data-container="body">
                      <i class="icon-images2"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-popup="tooltip" title="Add video" data-container="body">
                      <i class="icon-film2"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-popup="tooltip" title="Add event" data-container="body">
                      <i class="icon-calendar2"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="col-xs-6 text-right">
                <button type="button" class="btn btn-primary btn-labeled btn-labeled-right">Share
                  <b>
                    <i class="icon-circle-right2"></i>
                  </b>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /share your thoughts -->

    </div>
  </div>
  <!-- /user profile -->


  <!-- Footer -->
  <div class="footer text-muted">
    &copy; 2018.
    <a href="#">Human Resource Sharing Application</a> by
    <a href="http://themeforest.net/user/Kopyov" target="_blank">...</a>
  </div>
  <!-- /footer -->

</div>

<!-- /content area -->
