<!-- <div class="panel-body">
    <p>
        <b>Name</b>: Hồ Thái Thiện
    </p>
    <p>
        <b>Skill</b>: Java, XML
    </p>
    <p>
        <b>Age</b>: 18
    </p>
    <p>
        <b>Level</b>: junior
    </p>
</div> -->

<div class="row">
    <!-- <div class="col-lg-6">
        <div class="panel border-left-lg border-left-danger invoice-grid timeline-content">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="text-semibold no-margin-top">Leonardo Fellini</h6>
                        <ul class="list list-unstyled">
                            <li>Invoice #: &nbsp;0028</li>
                            <li>Issued on:
                                <span class="text-semibold">2015/01/25</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6">
                        <h6 class="text-semibold text-right no-margin-top">$8,750</h6>
                        <ul class="list list-unstyled text-right">
                            <li>Method:
                                <span class="text-semibold">SWIFT</span>
                            </li>
                            <li class="dropdown">
                                Status: &nbsp;
                                <a href="#" class="label bg-danger-400 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Overdue
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right active">
                                    <li class="active">
                                        <a href="#">
                                            <i class="icon-alert"></i> Overdue</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-alarm"></i> Pending</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-checkmark3"></i> Paid</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-spinner2 spinner"></i> On hold</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-cross2"></i> Canceled</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-footer panel-footer-condensed">
                <a class="heading-elements-toggle">
                    <i class="icon-more"></i>
                </a>
                <div class="heading-elements">
                    <span class="heading-text">
                        <span class="status-mark border-danger position-left"></span> Due:
                        <span class="text-semibold">2015/02/25</span>
                    </span>

                    <ul class="list-inline list-inline-condensed heading-text pull-right">
                        <li>
                            <a href="#" class="text-default" data-toggle="modal" data-target="#invoice">
                                <i class="icon-eye8"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-menu7"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#">
                                        <i class="icon-printer"></i> Print invoice</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-file-download"></i> Download invoice</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="icon-file-plus"></i> Edit invoice</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-cross2"></i> Remove invoice</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->

    <div class="col-lg-12">
        <div class="panel border-left-lg border-left-success invoice-grid timeline-content">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h6 class="text-semibold no-margin-top">Full name: {{humanResource.fullname}}</h6>
                        <ul class="list list-unstyled">
                            <li>Company:
                                <span class="text-semibold">{{humanResource?.companyByCompanyId?.name}}</span>
                            </li>
                            <li>Location:
                                <span class="text-semibold">{{humanResource?.companyByCompanyId?.city}}</span>
                            </li>
                            <li>Tel:
                                <span class="text-semibold">{{humanResource.tel}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4">
                        <h6 class="text-semibold no-margin-top">${{humanResource.salary}} vnd</h6>
                        <ul class="list list-unstyled">
                            <li>Skill:
                                <span class="text-semibold">{{skillList}}</span>
                            </li>
                            <li>Available date:
                                <span class="text-semibold">{{humanResource.availableDate | date:'dd/MM/yyyy'}}</span>
                            </li>
                            <li>Duration available:
                                <span class="text-semibold">{{humanResource.availableDuration}}</span>
                            </li>
                            <!-- <li class="dropdown">
                                Status: &nbsp;
                                <a href="#" class="label bg-success-400 dropdown-toggle" data-toggle="dropdown">Paid
                                    <span class="caret"></span>
                                </a>

                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-footer panel-footer-condensed">
                <a class="heading-elements-toggle">
                    <i class="icon-more"></i>
                </a>
                <div class="heading-elements">
                    <span class="heading-text">
                        <span class="status-mark border-success position-left"></span>
                        <span class="text-semibold">Skills and experiences</span>
                    </span>
                </div>
                <div class="panel-body">
                    <div style="padding-bottom: 2px;" *ngFor="let skills of humanResource?.resourceSkillsById">
                        <span class="heading-text">
                            &nbsp;&nbsp;&nbsp;<span class="text-semibold">{{skills?.skillBySkillId?.title}} : {{skills?.experience}} years</span>
                        </span>
                    </div>
                    <!-- <div>
                        <span class="heading-text">
                            <span>Skills : ex</span>
                        </span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>