<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title text-center text-semibold">Similar</h6>
    </div>

    <div class="panel-body">
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="../../../../assets/images/avatar.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">Nguyen Van A
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>ABC Software</p>
                <p>Java, C#</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/avatar.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">Nguyen Van A
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>ABC Software</p>
                <p>Java, C#</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/avatar.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">Nguyen Van A
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>ABC Software</p>
                <p>Java, C#</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/avatar.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">Nguyen Van A
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>ABC Software</p>
                <p>Java, C#</p>
            </div>
        </div>
    </div>
</div>