<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title text-center text-semibold">Similar resources</h6>
    </div>

    <div class="panel-body">
        <div class="media" *ngFor="let similar of similars">
            <div class="media-left ">
                <div class="thumb">
                    <a >
                        <img src="{{similar?.humanResourceBySimilarResourceId?.avatar}}" style="width: 90px;height: 90px;" class="media-preview" alt="{{similar?.humanResourceBySimilarResourceId?.fullname}}">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <!-- <a (click)="viewHumanDetail(similar?.similarResourceId)">{{similar?.humanResourceBySimilarResourceId?.fullname}}
                </a>
                <p>{{similar?.humanResourceBySimilarResourceId?.companyByCompanyId?.name}}</p>
                <p>{{skillList}}</p> -->

                <div class="media-heading col-sm-12 no-padding">
                    <div class="col-sm-12">
                      <h6 (click)="viewHumanDetail(similar?.similarResourceId)" class="media-heading text-bold">{{similar?.humanResourceBySimilarResourceId?.fullname}}</h6>
                    </div>
                  </div>
                  <span class="media-heading col-sm-12">
                    Company:
                    <a (click)="viewCompanyDetail(similar?.humanResourceBySimilarResourceId?.companyId)">{{similar?.humanResourceBySimilarResourceId?.companyByCompanyId?.name}}</a>
                  </span>
                  <!-- <span class="media-heading col-sm-12">
                              Available {{resource.humanResourceByHumanResourceId.availableDate}} To {{resource.humanResourceByHumanResourceId.availableDuration}}
                            </span> -->
                  <span class="media-heading col-sm-12">
                    Skill: {{skillList}}
                  </span>

            </div>
        </div>
        <!-- <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/avatar.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">Nguyen Van A
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>ABC Software</p>
                <p>Java, C#</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/avatar.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">Nguyen Van A
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>ABC Software</p>
                <p>Java, C#</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left ">
                <div class="thumb">
                    <a href="#">
                        <img src="assets/images/avatar.png" class="media-preview" alt="">
                    </a>
                </div>

            </div>
            <div class="media-body">
                <a href="#">Nguyen Van A
                    <span class="media-annotation pull-right">3:03</span>
                </a>
                <p>ABC Software</p>
                <p>Java, C#</p>
            </div>
        </div> -->
    </div>
</div>