<app-page-header [parentTitle]="parentTitle" [title]="title" [subTitle]="subTitle">
</app-page-header>
<div class="col-md-12" id="main">
  <!-- Page header -->

  <div id="button-add-emp">
    <button type="button" class="btn bg-teal-400 btn-labeled" data-toggle="modal" data-target="#modal_small">
      <b>
        <i class="icon-user-plus"></i>
      </b> Add new project
    </button>
  </div>
  <div class="panel panel-flat">
    <div class="panel-body">
      <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
          <li class="active">
            <a href="#highlighted-justified-tab1" data-toggle="tab" aria-expanded="false">Openning</a>
          </li>
          <li class="">
            <a href="#highlighted-justified-tab2" data-toggle="tab" aria-expanded="true">Closed</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="highlighted-justified-tab1">
            <div class="panel panel-flat">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Skill</th>
                      <th>Status</th>
                      <th>Matched</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let project of projects">
                    <tr>
                      <td>{{project.id}}</td>
                      <td>{{project.title}}</td>
                      <td>{{project.createDate}}</td>
                      <td>{{project.endDate}}</td>
                      <td>{{project.duration}}</td>
                      <td class="btn-r-e">
                        <button type="button" class="btn">
                          <i class="icon-pencil"></i>
                        </button>
                      </td>
                      <td class="btn-r-e">
                        <button type="button" class="btn">
                          <i class="icon-trash"></i>
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="highlighted-justified-tab2">
            Close project
          </div>
        </div>

        <!-- popup add new -->
        <div class="modal-content">
          <div id="modal_small" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h5 class="modal-title">Manager project</h5>
                </div>

                <div class="modal-body">
                  <fieldset class="content-group">
                    <legend class="text-bold">Add new a project</legend>

                    <div class="form-group">
                      <!-- <label class="control-label col-lg-2">Input with icons</label> -->
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                              <label>Project name</label>
                              <input type="text" class="form-control input-xlg" placeholder="Abc application">
                              <div class="form-control-feedback">
                                <i class="icon-office"></i>
                              </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                              <label>Duration</label>
                              <input type="text" class="form-control input-lg" placeholder="1 (month)">
                              <div class="form-control-feedback">
                                <i class="icon-make-group"></i>
                              </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                              <label>Start date</label>
                              <input type="text" class="form-control" placeholder="25-10-2018">
                              <div class="form-control-feedback">
                                <i class="icon-droplets"></i>
                              </div>
                            </div>

                            <button type="button" class="btn bg-teal-400 btn-labeled" data-toggle="modal" data-target="#modal_position">
                              <b>
                                <i class="icon-user-plus"></i>
                              </b> Add new position
                            </button>
                            <div class="table-responsive" style="height: 150px; overflow: auto;">
                              <table class="table table-hover">
                                <thead class="text-center">
                                  <tr>
                                    <th>Position</th>
                                    <th>Skill | Experience(years)</th>
                                    <th>Quantity</th>
                                    <th></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody *ngFor="let x of positionObj">
                                  <tr>
                                    <td>{{x.positionID}}</td>
                                    <td>
                                      <p *ngFor="let c of x.skilExp">
                                          {{c.skillId}}|{{c.experience}}
                                      </p>
                                    </td>
                                    <td>{{x.quantity}}</td>
                                    <td><button type="button" class="btn btn-xs">
                                        <i class="icon-pencil"></i>
                                      </button>
                                    </td>
                                    <td>
                                      <button type="button" class="btn btn-xs">
                                        <i class="icon-trash"></i>
                                      </button>
                                    </td>
                                  </tr>
                                  
                                  
                                </tbody>
                              </table>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                              <label>Description</label>
                              <input type="text" class="form-control input-xs" placeholder="overview about project">
                              <div class="form-control-feedback">
                                <i class="icon-help"></i>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>

                  </fieldset>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Add new</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- popup add position requirement -->
        <div class="modal-content">
          <div id="modal_position" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h5 class="modal-title text-center text-bold">Add new position</h5>
                </div>
                <div class="modal-body">
                  <fieldset class="content-group">
                    <div class="form-group">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">Position</label>
                            <select [(ngModel)]="positionSelected" id="positionAdd" (ngModelChange)='onPositionSelected($event)'>
                              <option *ngFor="let position of positions" id="{{position.id}}" [ngValue]="position.skillsById">
                                {{position.title}}
                              </option>
                            </select>
                          </div>
                          <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold" for="">Skill</label>
                            <div class="form-group">
                              <label class="checkbox-inline" *ngFor="let skill of skills">
                                <input type="checkbox" #cb value="{{skill.title}}" [ngModel]="TestBinding" (change)="selectSkill(cb)" id="{{skill.id}}" class="styled"> {{skill.title}}
                              </label>
                            </div>
                            <div class="item">
                            </div>
                          </div>
                          <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold" for="">Quantity</label>
                            <div class="form-group">
                              <input type="text" id="quantityAdd">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button type="submit" data-dismiss="modal" (click)="addNewPosition()" class="btn btn-primary">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
