#button-add-emp {
  right: 0px;
  margin-bottom: 5px;
}

.btn-r-e {
  width: 20px;
}

.btn-r-e button {
  background: none;
}

h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
ng-select.test > div.below > div.single{
  height: 40px !important; 
}