<!-- Page header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-title">
      <h4>
        <i class="icon-arrow-left52 position-left"></i>
        <span class="text-semibold">Search</span> - User Results</h4>

      <ul class="breadcrumb position-right">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Search</a>
        </li>
        <li class="active">results</li>
      </ul>
    </div>
  </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

  <!-- Search field -->
  <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Search</h5>
        <div class="heading-elements">
          <ul class="icons-list">
            <li>
              <a data-action="collapse"></a>
            </li>

          </ul>
        </div>
      </div>

      <div class="panel-body">
        <div class="input-group content-group col-md-12">
          <div class="col-md-6">
            <div class="has-feedback has-feedback-left">
              <input type="text" [(ngModel)]="searchModel.company" class="form-control input-xlg" value="" placeholder="Company name">
              <div class="form-control-feedback">
                <i class="icon-search4 text-muted text-size-base"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="col-md-5">
              <ng-select class="test" [allowClear]="true" [(ngModel)]="searchModel.skill" [options]="listSkillOpt" placeholder="Select Skill">
              </ng-select>
            </div>
            <div class="col-md-5">
              <ng-select class="test" [allowClear]="true" [(ngModel)]="searchModel.location" [options]="listLocationOpt" placeholder="Select Location">
              </ng-select>
            </div>
            <div class="col-md-2">
              <div class="input-group-btn">
                <button type="submit" (click)="search()" class="btn btn-primary btn-xlg">Search</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  <!-- /search field -->

  <!-- Tabs -->
  <div class="tabbable">
    <ul class="nav nav-lg nav-tabs nav-tabs-bottom search-results-tabs">
      <li class="active">
        <a href="#highlighted-justified-tab1" data-toggle="tab" aria-expanded="false">
          <i class="icon-people position-left"></i> Resource</a>
      </li>
      <li class="">
          <a href="#highlighted-justified-tab2" data-toggle="tab" aria-expanded="true">
            <i class="icon-stack3 position-left"></i> Project</a>
        </li>
      <!-- li for project -->
      <li class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-cog3"></i>
          <span class="visible-xs-inline-block position-right">Options</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="#">Action</a>
          </li>
          <li>
            <a href="#">Another action</a>
          </li>
          <li>
            <a href="#">Something else</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">One more line</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="highlighted-justified-tab1">
          <div class="content-group">
            <p class="text-muted text-size-small content-group">About {{countResource}} results</p>
            <div class="search-results-list">
              <div class="row">
                <div class="col-lg-3 col-sm-6" *ngFor="let resource of listResourceSearch">
                  <div class="thumbnail">
                    <div class="thumb thumb-rounded">
                      <img src="assets/images/placeholder.jpg" alt="">
                      <div class="caption-overflow">
                        <span>
                          <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded">
                            <i class="icon-plus2"></i>
                          </a>
                          <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5">
                            <i class="icon-link2"></i>
                          </a>
                        </span>
                      </div>
                    </div>
        
                    <div class="caption text-center">
                      <h6 class="text-semibold no-margin">{{resource.fullname}}
                        <small class="display-block">{{resource?.companyByCompanyId?.name}}</small>
                      </h6>
                      <ul class="icons-list mt-15">
                        <li>
                          <a href="#" data-popup="tooltip" title="Google Drive">
                            <i class="icon-google-drive"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-popup="tooltip" title="Twitter">
                            <i class="icon-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-popup="tooltip" title="Github">
                            <i class="icon-github"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="tab-pane" id="highlighted-justified-tab2">
        <div class="content-group">
            <p class="text-muted text-size-small content-group">About {{countProject}} results</p>
            <div class="search-results-list">
              <div class="row">
                <div class="col-lg-3 col-sm-6" *ngFor="let project of listProjectSearch">
                  <div class="thumbnail">
                    <div class="thumb thumb-rounded">
                      <img src="assets/images/placeholder.jpg" alt="">
                      <div class="caption-overflow">
                        <span>
                          <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded">
                            <i class="icon-plus2"></i>
                          </a>
                          <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5">
                            <i class="icon-link2"></i>
                          </a>
                        </span>
                      </div>
                    </div>
        
                    <div class="caption text-center">
                      <h6 class="text-semibold no-margin">{{project.title}}
                        <small class="display-block">{{project?.companyByCompanyId?.name}}</small>
                      </h6>
                      <ul class="icons-list mt-15">
                        <li>
                          <a href="#" data-popup="tooltip" title="Google Drive">
                            <i class="icon-google-drive"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-popup="tooltip" title="Twitter">
                            <i class="icon-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-popup="tooltip" title="Github">
                            <i class="icon-github"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- /tabs -->

</div>
<!-- /Content area -->
