<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title text-center text-semibold">Similar project</h6>
  </div>

  <div class="panel-body">
    <div class="media" *ngFor="let x of listSimilarProject">
      <div class="media-left ">
        <div class="thumb">
          <a href="#">
            <img src="{{x.projectBySimilarProjectId.companyByCompanyId.logo}}" style="width: 90px;height: 90px;" class="media-preview" alt="{{x.projectBySimilarProjectId.companyByCompanyId.name}}">
          </a>
        </div>
      </div>
      <div class="media-body">
        <a (click)="navigateProject(x.similarProjectId)">{{x.projectBySimilarProjectId.title}}
          <!-- <span class="media-annotation pull-right">3:03</span> -->
        </a>
        <p>Company: {{x.projectBySimilarProjectId.companyByCompanyId.name}}</p>
        <p>SKill: <span *ngFor="let skill of x.listSkillTitle"> {{skill}}, </span> </p>
      </div>
    </div>
  </div>
</div>
