<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title text-center text-semibold">Similar project</h6>
  </div>

  <div class="panel-body">
    <div class="media" *ngFor="let x of listSimilarProject">
      <div class="media-left ">
        <div class="thumb">
          <a>
            <img src="{{x.projectBySimilarProjectId.companyByCompanyId.logo}}" style="width: 90px;height: 90px;" class="media-preview" alt="{{x.projectBySimilarProjectId.companyByCompanyId.name}}">
          </a>
        </div>
      </div>
      <div class="media-body">
        <!-- <a (click)="navigateProject(x.similarProjectId)">{{x.projectBySimilarProjectId.title}}
        </a>
        <p>Company: {{x.projectBySimilarProjectId.companyByCompanyId.name}}</p>
        <p>SKill: <span *ngFor="let skill of x.listSkillTitle"> {{skill}}, </span> </p> -->


        <div class="media-heading col-sm-12 no-padding">
          <div class="col-sm-12">
            <h6 (click)="navigateProject(x.similarProjectId)" class="media-heading text-bold">{{x.projectBySimilarProjectId.title}}</h6>
          </div>
        </div>
        <span class="media-heading col-sm-12">
          Company: <a (click)="viewCompanyDetail(x.projectBySimilarProjectId.companyId)">{{x.projectBySimilarProjectId.companyByCompanyId.name}}</a> 
        </span>
        <span class="media-heading col-sm-12">
          <!-- Email: {{resource.humanResourceByHumanResourceId.email}} -->
          <!-- From  -->
        </span>
        <p class="media-heading col-sm-12">SKill: <span *ngFor="let skill of x.listSkillTitle"> {{skill}}, </span> </p>

      </div>
    </div>
  </div>
</div>
