<div class="panel-body">

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <b>Name</b>
                <input type="text" [(ngModel)]="resourceInfo.fullname" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <b>Email</b>
                <input type="text" [(ngModel)]="resourceInfo.email" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <b>Tel</b>
                <input type="text" [(ngModel)]="resourceInfo.tel" class="form-control">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <b>Salary</b>
                <input type="text" [(ngModel)]="resourceInfo.salary" class="form-control" currencyMask [options]="{ align: 'left', prefix: 'đ', thousands: '.', precision: 0}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <b>Start date</b>
                <!-- <input type="text" [(ngModel)]="resourceInfo.availableDate" class="form-control"> -->

                <form #myForm="ngForm" novalidate>
                    <my-date-picker style="z-index: 99;" name="mydate" [options]="myDatePickerOptionsStart" [(ngModel)]="startDate" (dateChanged)="onDateChangedCreate($event)"
                        required></my-date-picker>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <b>End duration</b>
                <form #myForm="ngForm" novalidate>
                    <my-date-picker name="mydate" [options]="myDatePickerOptionsEnd" [(ngModel)]="endDate" (dateChanged)="onDateChangedEnd($event)"
                        required></my-date-picker>
                </form>
                <!-- <input type="text" [(ngModel)]="resourceInfo.availableDuration" class="form-control"> what the hell is this? -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <b>Skill</b>
        </div>
        <div class="col-sm-6">
            <b>Experience</b>
        </div>
    </div>


    <div class="row" style="height: 150px; overflow: hidden; position: relative;">
        <div style="position: absolute; top: 0; bottom: 0; left: 0; right: -17px; overflow-y: scroll;  overflow-x: hidden;">
            <div *ngFor="let skill of skills">
                <div class="col-sm-6">
                    <div class="has-feedback">
                        <ng-select [options]="skillOpts" [(ngModel)]="skill.skillId" style="z-index: 999;"></ng-select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="has-feedback">
                        <input type="number" [(ngModel)]="skill.experience" class="form-control">
                    </div>
                </div>
                <div class="col-sm-1">
                    <!-- <label>&ensp;</label> -->
                    <div class="bootstrap-select" style="width: 100%;">
                        <button [disabled]="skills.length===1" type="button" class="btn text-success-400 btn-flat btn-icon btn-rounded" (click)="removeSkill(skill.index)">
                            <i class="icon-minus2 text-muted"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2" style="text-align: center;">
                    <button type="button" class="btn text-success-400 btn-flat btn-icon btn-rounded" (click)="createNewSkill()">
                        <i class="icon-plus22 text-muted"></i>
                    </button>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>


    <!-- <div class="form-group has-feedback has-feedback-left">
        <label style="float: left;">Skill</label>
        <div class="col-md-6" style="float: right;">
            <div class="form-group" style="float: right;">

            </div>
        </div>

    </div> -->
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group has-feedback">
                <label class="text-bold">Status</label>
                <select *ngIf="!isBusy" name="select" class="form-control" name="status" (change)="resourceInfo.status=$event.target.value">
                    <option value="1" [selected]="resourceInfo?.status==1">Available</option>
                    <option value="2" [selected]="resourceInfo?.status==2">Inactive</option>
                    <!-- <option value="3" disabled [selected]="resourceInfo?.status==3">Busy</option> -->
                </select>

                <span *ngIf="isBusy" class="label bg-danger-400" > Busy </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-5">
            <button type="button" class="btn btn-primary" (click)="updateResource()" id="sweet_success">
                Update
            </button>
        </div>
        <div class="col-sm-5"></div>
    </div>

</div>