<div id="modal_theme_info" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <b class="modal-title">The list projects to invite</b>
            </div>
            <div class="modal-body text-center">
                <div *ngFor="let project of projects">
                    <div class="media-left">
                        <img src="{{humanResource?.avatar}}" style="width: 50px;height: 50px;" alt="">
                    </div>
                    <div class="media-body">
                        <h6 style="margin-top: 0px;">
                            <i class="text-muted">Invite </i>
                            <b> {{humanResource?.fullname}}</b>
                        </h6>
                        <i class="text-muted">join to</i>
                        <a>
                            <b>{{project?.title}} </b>
                        </a>
                        <i class="text-muted">project</i>
                    </div>
                    <div class="media-right">
                        <button class="btn btn-success text-bold" (click)="viewContract(humanResource.id, project.id)"
                        >Invite</button>
                    </div>
                    <hr>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>