<app-page-header [parentTitle]="parentTitle"></app-page-header>
<!-- Content area -->
<div class="content row">
  <!-- Custom handle -->
  <div class="col-md-2"></div>
  <div class="panel panel-flat col-md-8">
    <div class="panel-heading">
      <h5 class="panel-title">List humans worked on your project</h5>
    </div>

    <div class="panel-body">
      <ul class="media-list">
        <!-- <li class="media-header">Team leaders</li> -->

        <li class="media" *ngFor="let humanResource of listHumanOfProject">

          <div class="media-left">
            <img src="assets/images/avatar.png" style="width: 70px; height: 70px;" class="img-circle" alt="">
          </div>
          <div class="media-body">
            <div class="media-heading text-semibold">&nbsp;</div>
            <div class="media-heading text-semibold">
              <a>{{humanResource?.humanResourceByHumanResourceId?.fullname}} - </a>
              <a>
                <b>{{humanResource?.humanResourceByHumanResourceId?.companyByCompanyId?.name}}</b>
              </a>
            </div>
            <div class="media-heading text-semibold">&nbsp;</div>
            <!-- <span class="text-muted">Last.fm</span> -->
          </div>
          <div class="media-right media-middle">
            <ul class="icons-list text-nowrap">
              <li>
                <button type="button" class="btn bg-teal-400 btn-labeled dropdown-toggle" data-toggle="modal"
                 [attr.data-target]="'#humanResource' + humanResource.id" (click)="reloadLibrary()">
                  <b>
                    <i class="icon-rating2"></i>
                  </b> Feedback
                </button>
              </li>
              <!-- <li>
                <button type="button" class="btn btn-danger btn-xs">
                  <i class="glyphicon glyphicon-remove position-left"></i>Remove</button>
              </li>
              <li> </li>
              <li>
                <a data-toggle="collapse" [attr.data-target]="'#company' + company.id">
                  <i class="icon-menu7"></i>
                </a>
              </li> -->


            </ul>
          </div>
          <!-- Human modal -->
          <div id="humanResource{{humanResource.id}}" class="modal fade">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title text-semibold">Feedback - {{humanResource.humanResourceByHumanResourceId.fullname}}</h5>
                </div>

                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                      <div class="form-group has-feedback">
                        <h6>Job knowledge: </h6>
                      </div>
                    </div>

                    <div class="col-md-7">
                      <rating [(ngModel)]="feedbackForm.jobKnowledge" style="font-size: 15px">
                      </rating>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                      <div class="form-group has-feedback">
                        <h6>Work quality: </h6>
                      </div>
                    </div>

                    <div class="col-md-7">
                      <rating [(ngModel)]="feedbackForm.workQuality" style="font-size: 15px">
                      </rating>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                      <div class="form-group has-feedback">
                        <h6>Cooperation: </h6>
                      </div>
                    </div>

                    <div class="col-md-7">
                      <rating [(ngModel)]="feedbackForm.cooperation" style="font-size: 15px">
                      </rating>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                      <div class="form-group has-feedback">
                        <h6>Attendance: </h6>
                      </div>
                    </div>

                    <div class="col-md-7">
                      <rating [(ngModel)]="feedbackForm.attendance" style="font-size: 15px">
                      </rating>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                      <div class="form-group has-feedback">
                        <h6>Work attitude: </h6>
                      </div>
                    </div>

                    <div class="col-md-7">
                      <rating [(ngModel)]="feedbackForm.workAttitude" style="font-size: 15px">
                      </rating>
                    </div>
                  </div>

                  <div class="">
                    <h6 style="margin-left: 15px">Comment</h6>
                    <textarea rows="3" cols="5" class="form-control" [(ngModel)]="feedbackForm.comment" placeholder="Default textarea"></textarea>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                  <button id="sweet_success_rating" type="button" class="btn btn-primary" (click)="feedbackResource(humanResource.id)">Send</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /Human modal -->
        </li>
      </ul>



    </div>
  </div>
  <div class="col-md-2"></div>
  <!-- /custom handle -->
</div>
<!-- /content area -->