<!-- <div class="popup-box chat-popup" id="qnimate">
  <div class="popup-head">
    <div class="popup-head-left pull-left">
      Contact Demo</div>
    <div class="popup-head-right pull-right">
      <div class="btn-group">
        <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
          <i class="glyphicon glyphicon-minus"></i>
        </button>

      </div>

      <button data-widget="remove" id="removeClass" (click)="removeChatBox()" class="chat-header-button pull-right" type="button">
        <i class="glyphicon glyphicon-remove icon_close"></i>
      </button>
    </div>
  </div>
  <div class="popup-messages">
    <ul #scroller2 class="media-list chat-list content-group">
      <li class="media date-step">
        <span>Monday, Feb 10</span>
      </li>
      <li *ngFor="let message of feed">
        <div class="media" *ngIf="!message.userSent.includes(username)">
          <div class="media-left">
            <a href="assets/images/placeholder.jpg">
              <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
            </a>
          </div>
          <div class="media-body">
            <div class="media-content">
              {{message.content}}
            </div>
            <span class="media-annotation display-block mt-10">
              {{message.timeSent}}
              <a href="#">
                <i class="icon-pin-alt position-right text-muted"></i>
              </a>
            </span>
          </div>
        </div>

        <div class="media reversed" *ngIf="message.userSent.includes(username)">
          <div class="media-body">
            <div class="media-content">
              {{message.content}}
            </div>
            <span class="media-annotation display-block mt-10">
              {{message.timeSent}}
              <a href="#">
                <i class="icon-pin-alt position-right text-muted"></i>
              </a>
            </span>
          </div>
          <div class="media-right">
            <a href="assets/images/placeholder.jpg">
              <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="popup-messages-footer">
    <textarea id="status_message" [(ngModel)]="messageInput" (keydown)="handleSubmit($event)" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
    <div class="btn-footer">
      <button class="bg_none">
        <i class="glyphicon glyphicon-film"></i>
      </button>
      <button class="bg_none">
        <i class="glyphicon glyphicon-camera"></i>
      </button>
      <button class="bg_none">
        <i class="glyphicon glyphicon-paperclip"></i>
      </button>
      <button class="bg_none pull-right">
        <i class="glyphicon glyphicon-thumbs-up"></i>
      </button>
    </div>
  </div>
</div> -->


<div class="panel panel-flat">
    <div class="panel-heading">
      <h6 class="panel-title">Contract chat</h6>
      <div class="heading-elements">
        <ul class="icons-list">
          <li>
            <a data-action="reload"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel-body" >
      <ul #scroller2 class="media-list chat-list content-group" style="height: 360px;">
        <li class="media date-step">
          <span>Monday, Feb 10</span>
        </li>

        <li *ngFor="let message of feed">
            <div class="media" *ngIf="!message.userSent.includes(username)">
              <div class="media-left">
                <a href="#">
                  <img src="assets/images/avatar.png" class="img-circle" alt="">
                </a>
              </div>
              <div class="media-body">
                <div class="media-content">
                  {{message.content}}
                </div>
                <span class="media-annotation display-block mt-10">
                  {{message.timeSent}}
                  <a href="#">
                    <i class="icon-pin-alt position-right text-muted"></i>
                  </a>
                </span>
              </div>
            </div>
    
            <div class="media reversed" *ngIf="message.userSent.includes(username)">
              <div class="media-body">
                <div class="media-content">
                  {{message.content}}
                </div>
                <span class="media-annotation display-block mt-10">
                  {{message.timeSent}}
                  <a href="#">
                    <i class="icon-pin-alt position-right text-muted"></i>
                  </a>
                </span>
              </div>
              <div class="media-right">
                <a href="#">
                  <img src="assets/images/avatar2.png" class="img-circle" alt="">
                </a>
              </div>
            </div>
          </li>

      </ul>

      <textarea name="enter-message" [(ngModel)]="messageInput" (keydown)="handleSubmit($event)" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

      <div class="row">
        <div class="col-xs-6">
          <ul class="icons-list icons-list-extended mt-10">
            <li>
              <a href="#" data-popup="tooltip" title="Send photo" data-container="body">
                <i class="icon-file-picture"></i>
              </a>
            </li>
            <li>
              <a href="#" data-popup="tooltip" title="Send video" data-container="body">
                <i class="icon-file-video"></i>
              </a>
            </li>
            <li>
              <a href="#" data-popup="tooltip" title="Send file" data-container="body">
                <i class="icon-file-plus"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-xs-6 text-right">
          <button (click)="send()" type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right">
            <b>
              <i class="icon-circle-right2"></i>
            </b> Send</button>
        </div>
      </div>
    </div>
  </div>