<div class="popup-box chat-popup" id="qnimate">
  <div class="popup-head">
    <div class="popup-head-left pull-left">
       Contact Demo</div>
    <div class="popup-head-right pull-right">
      <div class="btn-group">
        <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
          <i class="glyphicon glyphicon-minus"></i>
        </button>
        
      </div>

      <button data-widget="remove" id="removeClass" (click)="removeChatBox()" class="chat-header-button pull-right" type="button">
        <i class="glyphicon glyphicon-remove icon_close"></i>
      </button>
    </div>
  </div>
  <div class="popup-messages">
    <ul class="media-list chat-list content-group">
      <li class="media date-step">
        <span>Monday, Feb 10</span>
      </li>

      <li class="media">
        <div style="padding-left: 10px" class="media-left">
          <a href="assets/images/placeholder.jpg">
            <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
          </a>
        </div>

        <div class="media-body">
          <div class="media-content">Below mounted advantageous spread yikes bat stubbornly crud a and a excepting</div>
          <span class="media-annotation display-block mt-10">Mon, 9:54 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
        </div>
      </li>

      <li class="media reversed">
        <div class="media-body">
          <div class="media-content">Far squid and theareess morl much.</div>
          <span class="media-annotation display-block mt-10">Mon, 10:24 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
        </div>

        <div style="padding-right: 10px" class="media-right">
          <a href="assets/images/placeholder.jpg">
            <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
          </a>
        </div>
      </li>

      <li class="media">
        <div class="media-left">
          <a href="assets/images/placeholder.jpg">
            <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
          </a>
        </div>

        <div class="media-body">
          <div class="media-content">Darn over sour then cynically less roadrunner up some cast buoyant. Macaw krill when and upon less contrary warthog jeez some koala less since therefore minimal.</div>
          <span class="media-annotation display-block mt-10">Mon, 10:56 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
        </div>
      </li>

      
    </ul>
  </div>
  <div class="popup-messages-footer">
    <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
    <div class="btn-footer">
      <button class="bg_none">
        <i class="glyphicon glyphicon-film"></i>
      </button>
      <button class="bg_none">
        <i class="glyphicon glyphicon-camera"></i>
      </button>
      <button class="bg_none">
        <i class="glyphicon glyphicon-paperclip"></i>
      </button>
      <button class="bg_none pull-right">
        <i class="glyphicon glyphicon-thumbs-up"></i>
      </button>
    </div>
  </div>
</div>